@model HanRuEdu.LDAL.EDU_ZZJX_01_01_ZYXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/ZYXX/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ZYBH" width="50" sortable="true">@Html.LabelFor(m => m.ZYBH)</th><!--专业编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="ZYDM" width="50" sortable="true">@Html.LabelFor(m => m.ZYDM)</th><!--专业代码-->
            <th field="ZYMC" width="50" sortable="true">@Html.LabelFor(m => m.ZYMC)</th><!--专业名称-->
            <th field="ZYYWMC" width="50" sortable="true">@Html.LabelFor(m => m.ZYYWMC)</th><!--专业英文名称-->
            <th field="XZ" width="50" sortable="true">@Html.LabelFor(m => m.XZ)</th><!--学制-->
            <th field="ZYFXMC" width="50" sortable="true">@Html.LabelFor(m => m.ZYFXMC)</th><!--专业方向名称-->
            <th field="ZYJC" width="50" sortable="true">@Html.LabelFor(m => m.ZYJC)</th><!--专业简称-->
            <th field="JLNY" width="50" sortable="true">@Html.LabelFor(m => m.JLNY)</th><!--建立年月-->
            <th field="ZYJSS" width="50" sortable="true">@Html.LabelFor(m => m.ZYJSS)</th><!--专业教师数-->
            <th field="KSJGH" width="50" sortable="true">@Html.LabelFor(m => m.KSJGH)</th><!--开设机构号-->
            <th field="ZXF" width="50" sortable="true">@Html.LabelFor(m => m.ZXF)</th><!--总学分-->
            <th field="SSZYML" width="50" sortable="true">@Html.LabelFor(m => m.SSZYML)</th><!--所属专业目录-->
            <th field="ZYLB" width="50" sortable="true">@Html.LabelFor(m => m.ZYLB)</th><!--专业类别名称-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzjx/zyxx/create");
    ViewData["index_edit"] = Url.Content("~/zzjx/zyxx/edit");
    //ViewData["index_detail"] = Url.Content("~/zzjx/zyxx/details";)
    //ViewData["index_del"] = Url.Content("~/zzjx/zyxx/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzjx/zyxx/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
