@model HanRuEdu.LDAL.EDU_ZXXX_04_01_JG
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/JG/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="JGH" width="50" sortable="true">@Html.LabelFor(m => m.JGH)</th><!--机构号-->
            <th field="LSJGH" width="50" sortable="true">@Html.LabelFor(m => m.LSJGH)</th><!--隶属机构号-->
            <th field="JGMC" width="50" sortable="true">@Html.LabelFor(m => m.JGMC)</th><!--机构名称-->
            <th field="JGJC" width="50" sortable="true">@Html.LabelFor(m => m.JGJC)</th><!--机构简称-->
            <th field="FZRGH" width="50" sortable="true">@Html.LabelFor(m => m.FZRGH)</th><!--负责人工号-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/jg/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/jg/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/jg/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/jg/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/jg/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
