@model HanRuEdu.LDAL.EDU_ELE_01_CONFIG
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/CONFIG/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--配置ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="APPID" width="50" sortable="true">@Html.LabelFor(m => m.APPID)</th><!--应用ID-->
            <th field="VALUE" width="50" sortable="true">@Html.LabelFor(m => m.VALUE)</th><!--配置值-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/config/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/config/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/config/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/config/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/config/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
