@model HanRuEdu.LDAL.EDU_ZZJG_02_02_XNGWSJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GWID) </td> <!--岗位表ID-->
                <td>
                    @Html.TextBoxFor(m => m.GWID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GWID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JZGJBSJID) </td> <!--教职工基本数据子类表-->
                <td>
                    @Html.TextBoxFor(m => m.JZGJBSJID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JZGJBSJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GWQSNY) </td> <!--岗位起始年月-->
                <td>
                    @Html.TextBoxFor(m => m.GWQSNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GWQSNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GWJSNY) </td> <!--岗位结束年月-->
                <td>
                    @Html.TextBoxFor(m => m.GWJSNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GWJSNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFZG) </td> <!--是否在岗-->
                <td>
                    @Html.TextBoxFor(m => m.SFZG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SFZG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZWMC) </td> <!--职务名称-->
                <td>
                    @Html.TextBoxFor(m => m.ZWMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZWMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGH) </td> <!--机构号-->
                <td>
                    @Html.TextBoxFor(m => m.JGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGH)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/xngwsj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
