@model HanRuEdu.LDAL.EDU_ZXJX_05_A02_KSKM
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/KSKM/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="SSKSID" width="50" sortable="true">@Html.LabelFor(m => m.SSKSID)</th><!--所属考试ID-->
            <th field="JSRKID" width="50" sortable="true">@Html.LabelFor(m => m.JSRKID)</th><!--教师任课编号-->
            <th field="KCMC" width="50" sortable="true">@Html.LabelFor(m => m.KCMC)</th><!--课程名称-->
            <th field="NJMC" width="50" sortable="true">@Html.LabelFor(m => m.NJMC)</th><!--年级名称-->
            <th field="BJMC" width="50" sortable="true">@Html.LabelFor(m => m.BJMC)</th><!--班级名称-->
            <th field="CJZF" width="50" sortable="true">@Html.LabelFor(m => m.CJZF)</th><!--成绩总分-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/kskm/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/kskm/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/kskm/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/kskm/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/kskm/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
