@model HanRuEdu.LDAL.EDU_ZZJX_02_02_ZZBJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XZBDM) </td> <!--行政班代码-->
                <td>
                    @Html.TextBoxFor(m => m.XZBDM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XZBDM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZYXXID) </td> <!--专业基本信息-->
                <td>
                    @Html.DropDownListFor(m => m.ZYXXID, ViewBag.ZZJX_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZYXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZNJID) </td> <!--学校年级数据表-->
                <td>
                    @Html.DropDownListFor(m => m.ZZNJID, ViewBag.ZZJX_02Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZZNJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XZBMC) </td> <!--行政班名称-->
                <td>
                    @Html.TextBoxFor(m => m.XZBMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XZBMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JBNY) </td> <!--建班年月-->
                <td>
                    @Html.TextBoxFor(m => m.JBNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JBNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZRGH) </td> <!--班主任工号-->
                <td>
                    @Html.TextBoxFor(m => m.BZRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BZRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSBH) </td> <!--教室编号-->
                <td>
                    @Html.TextBoxFor(m => m.JSBH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSBH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NANSRS) </td> <!--男生人数-->
                <td>
                    @Html.TextBoxFor(m => m.NANSRS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.NANSRS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NVSRS) </td> <!--女生人数-->
                <td>
                    @Html.TextBoxFor(m => m.NVSRS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.NVSRS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZRS) </td> <!--总人数-->
                <td>
                    @Html.TextBoxFor(m => m.ZRS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZRS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZXH) </td> <!--班长学号-->
                <td>
                    @Html.TextBoxFor(m => m.BZXH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BZXH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JXJH) </td> <!--教学计划-->
                <td>
                    @Html.TextBoxFor(m => m.JXJH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JXJH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGH) </td> <!--机构号-->
                <td>
                    @Html.DropDownListFor(m => m.JGH, ViewBag.ZZXX_03Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.JGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQDM) </td> <!--校区代码-->
                <td>
                    @Html.TextBoxFor(m => m.XQDM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XQDM)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/zzbj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
