@model HanRuEdu.LDAL.EDU_ZXXS_01_06_XSJTCY
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--学生信息数据表-->
                <td>
                    @Html.DropDownListFor(m => m.XSXXID, ViewBag.ZXXS_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GXM) </td> <!--关系码-->
                <td>
                    @Html.DropDownListFor(m => m.GXM, ViewBag.GB_JTGXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CYXM) </td> <!--成员姓名-->
                <td>
                    @Html.TextBoxFor(m => m.CYXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CYXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CSNY) </td> <!--出生年月-->
                <td>
                    @Html.TextBoxFor(m => m.CSNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CSNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MZM) </td> <!--民族码-->
                <td>
                    @Html.DropDownListFor(m => m.MZM, ViewBag.GB_ZGGMZMCDLMZMPXFLst as SelectList)
                    @Html.ValidationMessageFor(m => m.MZM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GJDQM) </td> <!--国籍/地区码-->
                <td>
                    @Html.DropDownListFor(m => m.GJDQM, ViewBag.GB_SJGGHDQMCLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GJDQM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JKZKM) </td> <!--健康状况码-->
                <td>
                    @Html.DropDownListFor(m => m.JKZKM, ViewBag.GB_JKZKYWSZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.JKZKM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CYGZDW) </td> <!--成员工作单位-->
                <td>
                    @Html.TextBoxFor(m => m.CYGZDW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CYGZDW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CYM) </td> <!--从业码-->
                <td>
                    @Html.DropDownListFor(m => m.CYM, ViewBag.GB_CYZKLst as SelectList)
                    @Html.ValidationMessageFor(m => m.CYM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZYJSZWM) </td> <!--专业技术职务码-->
                <td>
                    @Html.DropDownListFor(m => m.ZYJSZWM, ViewBag.GB_ZYJSZWLst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZYJSZWM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZWJBM) </td> <!--职务级别码-->
                <td>
                    @Html.DropDownListFor(m => m.ZWJBM, ViewBag.GB_ZWJBDMLst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZWJBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DH) </td> <!--电话-->
                <td>
                    @Html.TextBoxFor(m => m.DH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DZXX) </td> <!--电子信箱-->
                <td>
                    @Html.TextBoxFor(m => m.DZXX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DZXX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFJHR) </td> <!--是否监护人-->
                <td>
                    @Html.DropDownListFor(m => m.SFJHR, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFJHR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XBM) </td> <!--性别码-->
                <td>
                    @Html.DropDownListFor(m => m.XBM, ViewBag.GB_RDXBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XLM) </td> <!--学历码-->
                <td>
                    @Html.DropDownListFor(m => m.XLM, ViewBag.GB_XLLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XLM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LXDZ) </td> <!--联系地址-->
                <td>
                    @Html.TextBoxFor(m => m.LXDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LXDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SJHM) </td> <!--手机号码-->
                <td>
                    @Html.TextBoxFor(m => m.SJHM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SJHM)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/xsjtcy/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
