@model HanRuEdu.LDAL.EDU_ZXXS_01_06_XSJTCY
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/XSJTCY/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生信息数据表-->
            <th field="GXM" width="50" sortable="true">@Html.LabelFor(m => m.GXM)</th><!--关系码-->
            <th field="CYXM" width="50" sortable="true">@Html.LabelFor(m => m.CYXM)</th><!--成员姓名-->
            <th field="CSNY" width="50" sortable="true">@Html.LabelFor(m => m.CSNY)</th><!--出生年月-->
            <th field="MZM" width="50" sortable="true">@Html.LabelFor(m => m.MZM)</th><!--民族码-->
            <th field="GJDQM" width="50" sortable="true">@Html.LabelFor(m => m.GJDQM)</th><!--国籍/地区码-->
            <th field="JKZKM" width="50" sortable="true">@Html.LabelFor(m => m.JKZKM)</th><!--健康状况码-->
            <th field="CYGZDW" width="50" sortable="true">@Html.LabelFor(m => m.CYGZDW)</th><!--成员工作单位-->
            <th field="CYM" width="50" sortable="true">@Html.LabelFor(m => m.CYM)</th><!--从业码-->
            <th field="ZYJSZWM" width="50" sortable="true">@Html.LabelFor(m => m.ZYJSZWM)</th><!--专业技术职务码-->
            <th field="ZWJBM" width="50" sortable="true">@Html.LabelFor(m => m.ZWJBM)</th><!--职务级别码-->
            <th field="DH" width="50" sortable="true">@Html.LabelFor(m => m.DH)</th><!--电话-->
            <th field="DZXX" width="50" sortable="true">@Html.LabelFor(m => m.DZXX)</th><!--电子信箱-->
            <th field="SFJHR" width="50" sortable="true">@Html.LabelFor(m => m.SFJHR)</th><!--是否监护人-->
            <th field="XBM" width="50" sortable="true">@Html.LabelFor(m => m.XBM)</th><!--性别码-->
            <th field="XLM" width="50" sortable="true">@Html.LabelFor(m => m.XLM)</th><!--学历码-->
            <th field="LXDZ" width="50" sortable="true">@Html.LabelFor(m => m.LXDZ)</th><!--联系地址-->
            <th field="SJHM" width="50" sortable="true">@Html.LabelFor(m => m.SJHM)</th><!--手机号码-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/xsjtcy/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/xsjtcy/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/xsjtcy/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/xsjtcy/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/xsjtcy/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
