@model HanRuEdu.LDAL.EDU_JPXT_03_02_XYKSQK
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XYKSQK/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="XYID" width="50" sortable="true">@Html.LabelFor(m => m.XYID)</th><!--学员ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="KMYIKSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.KMYIKSSJ)</th><!--科目一考试时间-->
            <th field="KMYIKSJG" width="50" sortable="true">@Html.LabelFor(m => m.KMYIKSJG)</th><!--科目一考试结果-->
            <th field="KMERKSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.KMERKSSJ)</th><!--科目二考试时间-->
            <th field="KMERYKSJG" width="50" sortable="true">@Html.LabelFor(m => m.KMERYKSJG)</th><!--科目二考试结果-->
            <th field="KMSANKSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.KMSANKSSJ)</th><!--科目三考试时间-->
            <th field="KMSANKSJG" width="50" sortable="true">@Html.LabelFor(m => m.KMSANKSJG)</th><!--科目三考试结果-->
            <th field="KMSIKSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.KMSIKSSJ)</th><!--科目四考试时间-->
            <th field="KMSIKSJG" width="50" sortable="true">@Html.LabelFor(m => m.KMSIKSJG)</th><!--科目四考试结果-->
            <th field="KMWUKSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.KMWUKSSJ)</th><!--科目五考试时间-->
            <th field="KMWUKSJG" width="50" sortable="true">@Html.LabelFor(m => m.KMWUKSJG)</th><!--科目五考试结果-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xyksqk/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xyksqk/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xyksqk/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xyksqk/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xyksqk/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
