@model HanRuEdu.LDAL.EDU_ZYZX_MHXT_WZPZ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/WZPZ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBNAME" width="50" sortable="true">@Html.LabelFor(m => m.WEBNAME)</th><!--网站名-->
            <th field="STATUID" width="50" sortable="true">@Html.LabelFor(m => m.STATUID)</th><!--是否开启-->
            <th field="WEBURL" width="50" sortable="true">@Html.LabelFor(m => m.WEBURL)</th><!--网址-->
            <th field="CSSID" width="50" sortable="true">@Html.LabelFor(m => m.CSSID)</th><!--网站样式-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/wzpz/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/wzpz/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/wzpz/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/wzpz/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/wzpz/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
