@model HanRuEdu.LDAL.EDU_ZXDY_04_A06_ZZZC
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/ZZZC/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--周次表ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="XQID" width="50" sortable="true">@Html.LabelFor(m => m.XQID)</th><!--学期ID-->
            <th field="ZCM" width="50" sortable="true">@Html.LabelFor(m => m.ZCM)</th><!--周次名-->
            <th field="XQKSRQ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.XQKSRQ)</th><!--开始日期-->
            <th field="XQJSRQ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.XQJSRQ)</th><!--结束日期-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/zzzc/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/zzzc/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/zzzc/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/zzzc/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/zzzc/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
