@model HanRuEdu.LDAL.EDU_WZXT_MHXT_WZYS
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/WZYS/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--样式库ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="NAME" width="50" sortable="true">@Html.LabelFor(m => m.NAME)</th><!--样式名-->
            <th field="SHOWIMG" width="50" sortable="true">@Html.LabelFor(m => m.SHOWIMG)</th><!--效果图-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/wzxt/wzys/create");
    ViewData["index_edit"] = Url.Content("~/wzxt/wzys/edit");
    //ViewData["index_detail"] = Url.Content("~/wzxt/wzys/details";)
    //ViewData["index_del"] = Url.Content("~/wzxt/wzys/delete";)
    ViewData["index_multi_del"] = Url.Content("~/wzxt/wzys/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
