@model HanRuEdu.LDAL.EDU_ZZBG_10_A03_GG
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/GG/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--公告ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="FBRID" width="50" sortable="true">@Html.LabelFor(m => m.FBRID)</th><!--发布人ID-->
            <th field="FBBM" width="50" sortable="true">@Html.LabelFor(m => m.FBBM)</th><!--发布部门-->
            <th field="FBSJ" width="50" sortable="true">@Html.LabelFor(m => m.FBSJ)</th><!--发布时间-->
            <th field="BT" width="50" sortable="true">@Html.LabelFor(m => m.BT)</th><!--公告标题-->
            <th field="NR" width="50" sortable="true">@Html.LabelFor(m => m.NR)</th><!--公告内容-->
            <th field="ZT" width="50" sortable="true">@Html.LabelFor(m => m.ZT)</th><!--公告状态-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzbg/gg/create");
    ViewData["index_edit"] = Url.Content("~/zzbg/gg/edit");
    //ViewData["index_detail"] = Url.Content("~/zzbg/gg/details";)
    //ViewData["index_del"] = Url.Content("~/zzbg/gg/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzbg/gg/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
