@model HanRuEdu.LDAL.EDU_ZXDY_04_A05_TBZZJS
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--特别值周教师表ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQID) </td> <!--学期ID-->
                <td>
                    @Html.TextBoxFor(m => m.XQID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XQID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSLX) </td> <!--教师类型-->
                <td>
                    @Html.TextBoxFor(m => m.JSLX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSLX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSID) </td> <!--教师ID-->
                <td>
                    @Html.TextBoxFor(m => m.JSID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YXRQ) </td> <!--有效日期-->
                <td>
                    @Html.TextBoxFor(m => m.YXRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YXRQ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/tbzzjs/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
