@model HanRuEdu.LDAL.EDU_ZZFC_02_01_JZWJBSJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/JZWJBSJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--建筑物ID-->
            <th field="JZWH" width="50" sortable="true">@Html.LabelFor(m => m.JZWH)</th><!--建筑物号-->
            <th field="JZWMC" width="50" sortable="true">@Html.LabelFor(m => m.JZWMC)</th><!--建筑物名称-->
            <th field="SYZKM" width="50" sortable="true">@Html.LabelFor(m => m.SYZKM)</th><!--使用状况码-->
            <th field="FWCQ" width="50" sortable="true">@Html.LabelFor(m => m.FWCQ)</th><!--房屋产权-->
            <th field="XQH" width="50" sortable="true">@Html.LabelFor(m => m.XQH)</th><!--校区号-->
            <th field="JZWFLM" width="50" sortable="true">@Html.LabelFor(m => m.JZWFLM)</th><!--建筑物分类码-->
            <th field="JZWJGM" width="50" sortable="true">@Html.LabelFor(m => m.JZWJGM)</th><!--建筑物结构码-->
            <th field="JZWCS" width="50" sortable="true">@Html.LabelFor(m => m.JZWCS)</th><!--建筑物层数-->
            <th field="JCNY" width="50" sortable="true">@Html.LabelFor(m => m.JCNY)</th><!--建成年月-->
            <th field="JZWTZZE" width="50" sortable="true">@Html.LabelFor(m => m.JZWTZZE)</th><!--建筑物投资总额-->
            <th field="JFLYM" width="50" sortable="true">@Html.LabelFor(m => m.JFLYM)</th><!--经费来源码-->
            <th field="ZJZMJ" width="50" sortable="true">@Html.LabelFor(m => m.ZJZMJ)</th><!--总建筑面积-->
            <th field="ZSYMJ" width="50" sortable="true">@Html.LabelFor(m => m.ZSYMJ)</th><!--总使用面积-->
            <th field="KZSFLDM" width="50" sortable="true">@Html.LabelFor(m => m.KZSFLDM)</th><!--抗震设防烈度码-->
            <th field="KZSFBZM" width="50" sortable="true">@Html.LabelFor(m => m.KZSFBZM)</th><!--抗震设防标准码-->
            <th field="JZWDZ" width="50" sortable="true">@Html.LabelFor(m => m.JZWDZ)</th><!--建筑物地址-->
            <th field="JZWZKM" width="50" sortable="true">@Html.LabelFor(m => m.JZWZKM)</th><!--建筑物状况码-->
            <th field="JZWTP" width="50" sortable="true">@Html.LabelFor(m => m.JZWTP)</th><!--建筑物图片-->
            <th field="JZWPMT" width="50" sortable="true">@Html.LabelFor(m => m.JZWPMT)</th><!--建筑物平面图-->
            <th field="XXDWCCM" width="50" sortable="true">@Html.LabelFor(m => m.XXDWCCM)</th><!--学校单位层次码-->
            <th field="JZWWZZK" width="50" sortable="true">@Html.LabelFor(m => m.JZWWZZK)</th><!--建筑物位置状况-->
            <th field="GHSPWH" width="50" sortable="true">@Html.LabelFor(m => m.GHSPWH)</th><!--规划审批文号-->
            <th field="ZHFZNL" width="50" sortable="true">@Html.LabelFor(m => m.ZHFZNL)</th><!--综合防灾能力-->
            <th field="GHSYNX" width="50" sortable="true">@Html.LabelFor(m => m.GHSYNX)</th><!--规划使用年限-->
            <th field="SFYYJBXCS" width="50" sortable="true">@Html.LabelFor(m => m.SFYYJBXCS)</th><!--是否有预警避险措施-->
            <th field="SFKYYYJBNCS" width="50" sortable="true">@Html.LabelFor(m => m.SFKYYYJBNCS)</th><!--是否可用于应急避难场所-->
            <th field="CQZH" width="50" sortable="true">@Html.LabelFor(m => m.CQZH)</th><!--产权证号-->
            <th field="JZWYTM" width="50" sortable="true">@Html.LabelFor(m => m.JZWYTM)</th><!--建筑物用途码-->
            <th field="JZWZGD" width="50" sortable="true">@Html.LabelFor(m => m.JZWZGD)</th><!--建筑物总高度-->
            <th field="WFJDBM" width="50" sortable="true">@Html.LabelFor(m => m.WFJDBM)</th><!--危房鉴定部门-->
            <th field="WFJDWH" width="50" sortable="true">@Html.LabelFor(m => m.WFJDWH)</th><!--危房鉴定文号-->
            <th field="WFJDRQ" width="50" sortable="true">@Html.LabelFor(m => m.WFJDRQ)</th><!--危房鉴定日期-->
            <th field="GNFSM" width="50" sortable="true">@Html.LabelFor(m => m.GNFSM)</th><!--供暖方式码-->
            <th field="JZWJCXSM" width="50" sortable="true">@Html.LabelFor(m => m.JZWJCXSM)</th><!--建筑物基础形式码-->
            <th field="JZWPMXSM" width="50" sortable="true">@Html.LabelFor(m => m.JZWPMXSM)</th><!--建筑物平面形式码-->
            <th field="JZWLBXSM" width="50" sortable="true">@Html.LabelFor(m => m.JZWLBXSM)</th><!--建筑物楼板形式码-->
            <th field="SFYGZZ" width="50" sortable="true">@Html.LabelFor(m => m.SFYGZZ)</th><!--是否有构造柱-->
            <th field="QL" width="50" sortable="true">@Html.LabelFor(m => m.QL)</th><!--圈梁-->
            <th field="ZJAQGZWCRQ" width="50" sortable="true">@Html.LabelFor(m => m.ZJAQGZWCRQ)</th><!--最近安全改造完成日期-->
            <th field="ZJAQGZHYJSYNX" width="50" sortable="true">@Html.LabelFor(m => m.ZJAQGZHYJSYNX)</th><!--最近安全改造后预计使用年限-->
            <th field="ZXLXM" width="50" sortable="true">@Html.LabelFor(m => m.ZXLXM)</th><!--专项类型-->
            <th field="ZYZXTZBZMCM" width="50" sortable="true">@Html.LabelFor(m => m.ZYZXTZBZMCM)</th><!--中央专项投资补助名称码-->
            <th field="WWJZDJM" width="50" sortable="true">@Html.LabelFor(m => m.WWJZDJM)</th><!--文物建筑等级码-->
            <th field="JXJFZYF" width="50" sortable="true">@Html.LabelFor(m => m.JXJFZYF)</th><!--教学及辅助用房-->
            <th field="QZJS" width="50" sortable="true">@Html.LabelFor(m => m.QZJS)</th><!--其中教室-->
            <th field="QZSYS" width="50" sortable="true">@Html.LabelFor(m => m.QZSYS)</th><!--其中实验室-->
            <th field="QZTSS" width="50" sortable="true">@Html.LabelFor(m => m.QZTSS)</th><!--其中图书室-->
            <th field="QZWJS" width="50" sortable="true">@Html.LabelFor(m => m.QZWJS)</th><!--其中微机室-->
            <th field="QZYYS" width="50" sortable="true">@Html.LabelFor(m => m.QZYYS)</th><!--其中语音室-->
            <th field="QZTYHDS" width="50" sortable="true">@Html.LabelFor(m => m.QZTYHDS)</th><!--其中体育活动室-->
            <th field="QZQTJFYF" width="50" sortable="true">@Html.LabelFor(m => m.QZQTJFYF)</th><!--其中其他教辅用房-->
            <th field="SHYF" width="50" sortable="true">@Html.LabelFor(m => m.SHYF)</th><!--生活用房-->
            <th field="QZXSSS" width="50" sortable="true">@Html.LabelFor(m => m.QZXSSS)</th><!--其中学生宿舍-->
            <th field="QZST" width="50" sortable="true">@Html.LabelFor(m => m.QZST)</th><!--其中食堂-->
            <th field="QZCS" width="50" sortable="true">@Html.LabelFor(m => m.QZCS)</th><!--其中厕所-->
            <th field="QZGLF" width="50" sortable="true">@Html.LabelFor(m => m.QZGLF)</th><!--其中锅炉房(开水房)-->
            <th field="QZYS" width="50" sortable="true">@Html.LabelFor(m => m.QZYS)</th><!--其中浴室-->
            <th field="QZJGSS" width="50" sortable="true">@Html.LabelFor(m => m.QZJGSS)</th><!--其中教工宿舍-->
            <th field="QZQTSHYF" width="50" sortable="true">@Html.LabelFor(m => m.QZQTSHYF)</th><!--其中其他生活用房-->
            <th field="XZBGYF" width="50" sortable="true">@Html.LabelFor(m => m.XZBGYF)</th><!--行政办公用房-->
            <th field="QZJSBGS" width="50" sortable="true">@Html.LabelFor(m => m.QZJSBGS)</th><!--其中教职工办公室-->
            <th field="QZWSBJS" width="50" sortable="true">@Html.LabelFor(m => m.QZWSBJS)</th><!--其中卫生保健室-->
            <th field="QZQTXZBGYF" width="50" sortable="true">@Html.LabelFor(m => m.QZQTXZBGYF)</th><!--其中其他行政办公用房-->
            <th field="QTYF" width="50" sortable="true">@Html.LabelFor(m => m.QTYF)</th><!--其他用房-->
            <th field="GLY" width="50" sortable="true">@Html.LabelFor(m => m.GLY)</th><!--管理员-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/jzwjbsj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/jzwjbsj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/jzwjbsj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/jzwjbsj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/jzwjbsj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
