@model HanRuEdu.LDAL.EDU_WZXT_MHXT_WZLM
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--网站栏目（导航）ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WEBID) </td> <!--网站ID-->
                <td>
                    @Html.TextBoxFor(m => m.WEBID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WEBID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LMSHOWSTYLE) </td> <!--栏目使用类型-->
                <td>
                    @Html.TextBoxFor(m => m.LMSHOWSTYLE, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LMSHOWSTYLE)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NAME) </td> <!--栏目名称-->
                <td>
                    @Html.TextBoxFor(m => m.NAME, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.NAME)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.URL) </td> <!--栏目链接-->
                <td>
                    @Html.TextBoxFor(m => m.URL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.URL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.IMAGEURL) </td> <!--图片链接-->
                <td>
                    @Html.TextBoxFor(m => m.IMAGEURL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.IMAGEURL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DEPTH) </td> <!--层级-->
                <td>
                    @Html.TextBoxFor(m => m.DEPTH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DEPTH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PID) </td> <!--父目录-->
                <td>
                    @Html.TextBoxFor(m => m.PID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LISTSHOWSTYLE) </td> <!--列表显示型式-->
                <td>
                    @Html.TextBoxFor(m => m.LISTSHOWSTYLE, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LISTSHOWSTYLE)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ORDERTYPE) </td> <!--排序方式-->
                <td>
                    @Html.TextBoxFor(m => m.ORDERTYPE, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ORDERTYPE)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SHOWNUMBER) </td> <!--显示个数-->
                <td>
                    @Html.TextBoxFor(m => m.SHOWNUMBER, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SHOWNUMBER)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.OPENFLAG) </td> <!--开启状态-->
                <td>
                    @Html.TextBoxFor(m => m.OPENFLAG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.OPENFLAG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LLQX) </td> <!--浏览权限-->
                <td>
                    @Html.TextBoxFor(m => m.LLQX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LLQX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PLSX) </td> <!--排列顺序-->
                <td>
                    @Html.TextBoxFor(m => m.PLSX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PLSX)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/wzlm/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
