@model HanRuEdu.LDAL.EDU_JPXT_02_02_JLYWJQK
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JLYID) </td> <!--教练员ID-->
                <td>
                    @Html.TextBoxFor(m => m.JLYID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JLYID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TSR) </td> <!--投诉人-->
                <td>
                    @Html.TextBoxFor(m => m.TSR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TSR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TSSJ) </td> <!--投诉时间-->
                <td>
                    @Html.TextBoxFor(m => m.TSSJ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TSSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LXDH) </td> <!--联系电话-->
                <td>
                    @Html.TextBoxFor(m => m.LXDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LXDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TSNR) </td> <!--投诉内容-->
                <td>
                    @Html.TextAreaFor(m => m.TSNR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.TSNR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CLJG) </td> <!--处理结果-->
                <td>
                    @Html.TextAreaFor(m => m.CLJG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.CLJG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZ) </td> <!--备注-->
                <td>
                    @Html.TextAreaFor(m => m.BZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.BZ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/jlywjqk/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
