@model HanRuEdu.LDAL.EDU_JPXT_02_02_JLYWJQK
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/JLYWJQK/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="JLYID" width="50" sortable="true">@Html.LabelFor(m => m.JLYID)</th><!--教练员ID-->
            <th field="TSR" width="50" sortable="true">@Html.LabelFor(m => m.TSR)</th><!--投诉人-->
            <th field="TSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.TSSJ)</th><!--投诉时间-->
            <th field="LXDH" width="50" sortable="true">@Html.LabelFor(m => m.LXDH)</th><!--联系电话-->
            <th field="TSNR" width="50" sortable="true">@Html.LabelFor(m => m.TSNR)</th><!--投诉内容-->
            <th field="CLJG" width="50" sortable="true">@Html.LabelFor(m => m.CLJG)</th><!--处理结果-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/jlywjqk/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/jlywjqk/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/jlywjqk/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/jlywjqk/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/jlywjqk/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
