@model HanRuEdu.LDAL.EDU_ZXDY_04_A07_MBFPNR
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/MBFPNR/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--模板内容表ID-->
            <th field="MBID" width="50" sortable="true">@Html.LabelFor(m => m.MBID)</th><!--模板表ID-->
            <th field="GZR" width="50" sortable="true">@Html.LabelFor(m => m.GZR)</th><!--工作日-->
            <th field="GWID" width="50" sortable="true">@Html.LabelFor(m => m.GWID)</th><!--岗位ID-->
            <th field="DYRYH" width="50" sortable="true">@Html.LabelFor(m => m.DYRYH)</th><!--对应人员号-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zxdy/mbfpnr/create");
    ViewData["index_edit"] = Url.Content("~/zxdy/mbfpnr/edit");
    //ViewData["index_detail"] = Url.Content("~/zxdy/mbfpnr/details";)
    //ViewData["index_del"] = Url.Content("~/zxdy/mbfpnr/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zxdy/mbfpnr/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
