@model HanRuEdu.LDAL.EDU_JPXT_01_04_JLCJYQK
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/JLCJYQK/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="JLCID" width="50" sortable="true">@Html.LabelFor(m => m.JLCID)</th><!--教练车ID-->
            <th field="JYNR" width="50" sortable="true">@Html.LabelFor(m => m.JYNR)</th><!--检验内容-->
            <th field="JYSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.JYSJ)</th><!--检验时间-->
            <th field="WCSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.WCSJ)</th><!--完成时间-->
            <th field="JYJG" width="50" sortable="true">@Html.LabelFor(m => m.JYJG)</th><!--检验结果-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/jlcjyqk/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/jlcjyqk/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/jlcjyqk/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/jlcjyqk/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/jlcjyqk/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
