@model HanRuEdu.LDAL.EDU_ZZFC_08_A03_ZWHCY
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--成员ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YHID) </td> <!--用户ID-->
                <td>
                    @Html.TextBoxFor(m => m.YHID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YHID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YHLX) </td> <!--用户类型-->
                <td>
                    @Html.TextBoxFor(m => m.YHLX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YHLX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CYXM) </td> <!--成员姓名-->
                <td>
                    @Html.TextBoxFor(m => m.CYXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CYXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TJSJ) </td> <!--添加时间-->
                <td>
                    @Html.TextBoxFor(m => m.TJSJ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TJSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZWMC) </td> <!--职位名称-->
                <td>
                    @Html.TextBoxFor(m => m.ZWMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZWMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GZNR) </td> <!--工作内容-->
                <td>
                    @Html.TextBoxFor(m => m.GZNR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GZNR)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/zwhcy/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
