@model HanRuEdu.LDAL.EDU_ZZFC_08_A03_ZWHCY
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/ZWHCY/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--成员ID-->
            <th field="YHID" width="50" sortable="true">@Html.LabelFor(m => m.YHID)</th><!--用户ID-->
            <th field="YHLX" width="50" sortable="true">@Html.LabelFor(m => m.YHLX)</th><!--用户类型-->
            <th field="CYXM" width="50" sortable="true">@Html.LabelFor(m => m.CYXM)</th><!--成员姓名-->
            <th field="TJSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.TJSJ)</th><!--添加时间-->
            <th field="ZWMC" width="50" sortable="true">@Html.LabelFor(m => m.ZWMC)</th><!--职位名称-->
            <th field="GZNR" width="50" sortable="true">@Html.LabelFor(m => m.GZNR)</th><!--工作内容-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/zwhcy/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/zwhcy/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/zwhcy/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/zwhcy/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/zwhcy/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
