@model HanRuEdu.LDAL.EDU_ZXDY_05_A02_ZZDFXZ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/ZZDFXZ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--值周打分细则表ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="SSDLID" width="50" sortable="true">@Html.LabelFor(m => m.SSDLID)</th><!--所属大类ID-->
            <th field="XZNR" width="50" sortable="true">@Html.LabelFor(m => m.XZNR)</th><!--细则内容-->
            <th field="XZFZ" width="50" sortable="true">@Html.LabelFor(m => m.XZFZ)</th><!--细则分值-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/zzdfxz/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/zzdfxz/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/zzdfxz/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/zzdfxz/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/zzdfxz/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
