@model HanRuEdu.LDAL.EDU_ZXDY_04_A03_ZZGWFP
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/ZZGWFP/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--值周岗位分配表ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="XQID" width="50" sortable="true">@Html.LabelFor(m => m.XQID)</th><!--学期ID-->
            <th field="ZCID" width="50" sortable="true">@Html.LabelFor(m => m.ZCID)</th><!--周次ID-->
            <th field="GZR" width="50" sortable="true">@Html.LabelFor(m => m.GZR)</th><!--工作日-->
            <th field="GWID" width="50" sortable="true">@Html.LabelFor(m => m.GWID)</th><!--岗位ID-->
            <th field="JSID" width="50" sortable="true">@Html.LabelFor(m => m.JSID)</th><!--教师ID-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/zzgwfp/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/zzgwfp/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/zzgwfp/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/zzgwfp/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/zzgwfp/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
