@model HanRuEdu.LDAL.EDU_ZXJX_09_A01_TKSQSJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSID) </td> <!--教师-->
                <td>
                    @Html.TextBoxFor(m => m.JSID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCID) </td> <!--课程-->
                <td>
                    @Html.TextBoxFor(m => m.KCID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKLXID) </td> <!--调课类型ID-->
                <td>
                    @Html.DropDownListFor(m => m.TKLXID, ViewBag.ZJ_TKLXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.TKLXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKQQSZ) </td> <!--调课前起始周-->
                <td>
                    @Html.TextBoxFor(m => m.TKQQSZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKQQSZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKQJSZ) </td> <!--调课前结束周-->
                <td>
                    @Html.TextBoxFor(m => m.TKQJSZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKQJSZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKQXQ) </td> <!--调课前星期-->
                <td>
                    @Html.TextBoxFor(m => m.TKQXQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKQXQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKQSD) </td> <!--调课前时段-->
                <td>
                    @Html.TextBoxFor(m => m.TKQSD, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKQSD)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKQJC) </td> <!--调课前节次-->
                <td>
                    @Html.TextBoxFor(m => m.TKQJC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKQJC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKHQSZ) </td> <!--调课后起始周-->
                <td>
                    @Html.TextBoxFor(m => m.TKHQSZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKHQSZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKHJSZ) </td> <!--调课后结束周-->
                <td>
                    @Html.TextBoxFor(m => m.TKHJSZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKHJSZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKHXQ) </td> <!--调课后星期-->
                <td>
                    @Html.TextBoxFor(m => m.TKHXQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKHXQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKHSD) </td> <!--调课后时段-->
                <td>
                    @Html.TextBoxFor(m => m.TKHSD, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKHSD)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TKHJC) </td> <!--调课后节次-->
                <td>
                    @Html.TextBoxFor(m => m.TKHJC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TKHJC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZT) </td> <!--当前状态-->
                <td>
                    @Html.TextBoxFor(m => m.ZT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZT)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZ) </td> <!--备注-->
                <td>
                    @Html.TextAreaFor(m => m.BZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.BZ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/tksqsj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
