@model HanRuEdu.LDAL.EDU_OAXT_13_A01_DWSJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/DWSJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--单位ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="SJDWID" width="50" sortable="true">@Html.LabelFor(m => m.SJDWID)</th><!--上级单位ID-->
            <th field="DWFZRID" width="50" sortable="true">@Html.LabelFor(m => m.DWFZRID)</th><!--单位负责人ID-->
            <th field="DWMC" width="50" sortable="true">@Html.LabelFor(m => m.DWMC)</th><!--单位名称-->
            <th field="DWCYIDLB" width="50" sortable="true">@Html.LabelFor(m => m.DWCYIDLB)</th><!--单位成员ID列表-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/dwsj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/dwsj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/dwsj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/dwsj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/dwsj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
