@model HanRuEdu.LDAL.EDU_JPXT_01_01_JLCSJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GMSJ) </td> <!--购买时间-->
                <td>
                    @Html.TextBoxFor(m => m.GMSJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GMSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CLXHID) </td> <!--车辆型号ID-->
                <td>
                    @Html.DropDownListFor(m => m.CLXHID, ViewBag.JPXT_05Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.CLXHID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PP) </td> <!--品牌-->
                <td>
                    @Html.TextBoxFor(m => m.PP, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PP)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CPH) </td> <!--车牌号-->
                <td>
                    @Html.TextBoxFor(m => m.CPH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CPH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FDJH) </td> <!--发动机号-->
                <td>
                    @Html.TextBoxFor(m => m.FDJH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FDJH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CJH) </td> <!--车架号-->
                <td>
                    @Html.TextBoxFor(m => m.CJH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CJH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BFSJ) </td> <!--报废时间-->
                <td>
                    @Html.TextBoxFor(m => m.BFSJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BFSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.EBRQ) </td> <!--二保日期-->
                <td>
                    @Html.TextBoxFor(m => m.EBRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.EBRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DQZT) </td> <!--当前状态-->
                <td>
                    @Html.TextBoxFor(m => m.DQZT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DQZT)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DQJLYID) </td> <!--当前教练员ID-->
                <td>
                    @Html.DropDownListFor(m => m.DQJLYID, ViewBag.JPXT_02Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.DQJLYID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZ) </td> <!--备注-->
                <td>
                    @Html.TextBoxFor(m => m.BZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BZ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/jlcsj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
