@model HanRuEdu.LDAL.EDU_JPXT_01_01_JLCSJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/JLCSJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="GMSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.GMSJ)</th><!--购买时间-->
            <th field="CLXHID" width="50" sortable="true">@Html.LabelFor(m => m.CLXHID)</th><!--车辆型号ID-->
            <th field="PP" width="50" sortable="true">@Html.LabelFor(m => m.PP)</th><!--品牌-->
            <th field="CPH" width="50" sortable="true">@Html.LabelFor(m => m.CPH)</th><!--车牌号-->
            <th field="FDJH" width="50" sortable="true">@Html.LabelFor(m => m.FDJH)</th><!--发动机号-->
            <th field="CJH" width="50" sortable="true">@Html.LabelFor(m => m.CJH)</th><!--车架号-->
            <th field="BFSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.BFSJ)</th><!--报废时间-->
            <th field="EBRQ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.EBRQ)</th><!--二保日期-->
            <th field="DQZT" width="50" sortable="true">@Html.LabelFor(m => m.DQZT)</th><!--当前状态-->
            <th field="DQJLYID" width="50" sortable="true">@Html.LabelFor(m => m.DQJLYID)</th><!--当前教练员ID-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/jlcsj/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/jlcsj/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/jlcsj/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/jlcsj/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/jlcsj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
