@model HanRuEdu.LDAL.EDU_ZZZS_03_01_KSKMCJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/KSKMCJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--考生ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="KMM" width="50" sortable="true">@Html.LabelFor(m => m.KMM)</th><!--科目码-->
            <th field="ZKFS" width="50" sortable="true">@Html.LabelFor(m => m.ZKFS)</th><!--中考分数-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/kskmcj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/kskmcj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/kskmcj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/kskmcj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/kskmcj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
