@model HanRuEdu.LDAL.EDU_ZYZX_MHXT_YQLJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/YQLJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--友情链接ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="TITLE" width="50" sortable="true">@Html.LabelFor(m => m.TITLE)</th><!--标题-->
            <th field="TYPEID" width="50" sortable="true">@Html.LabelFor(m => m.TYPEID)</th><!--类型-->
            <th field="IMAGEURL" width="50" sortable="true">@Html.LabelFor(m => m.IMAGEURL)</th><!--图片-->
            <th field="URL" width="50" sortable="true">@Html.LabelFor(m => m.URL)</th><!--链接-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/yqlj/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/yqlj/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/yqlj/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/yqlj/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/yqlj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
