@model HanRuEdu.LDAL.EDU_ZXJX_06_A01_MPJL
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MPJS) </td> <!--面批教师-->
                <td>
                    @Html.DropDownListFor(m => m.MPJS, ViewBag.ZXJZ_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.MPJS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MPKC) </td> <!--面批课程-->
                <td>
                    @Html.DropDownListFor(m => m.MPKC, ViewBag.ZXJX_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.MPKC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MPXS) </td> <!--面批学生-->
                <td>
                    @Html.DropDownListFor(m => m.MPXS, ViewBag.ZXXS_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.MPXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XNID) </td> <!--学年-->
                <td>
                    @Html.DropDownListFor(m => m.XNID, ViewBag.SYS_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.XNID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQID) </td> <!--学期-->
                <td>
                    @Html.DropDownListFor(m => m.XQID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.XQID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NJID) </td> <!--年级-->
                <td>
                    @Html.DropDownListFor(m => m.NJID, ViewBag.ZXXX_02Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.NJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BJID) </td> <!--班级-->
                <td>
                    @Html.DropDownListFor(m => m.BJID, ViewBag.ZXXX_03Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.BJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MPJG) </td> <!--面批结果-->
                <td>
                    @Html.TextBoxFor(m => m.MPJG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.MPJG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MPSJ) </td> <!--面批时间-->
                <td>
                    @Html.TextBoxFor(m => m.MPSJ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.MPSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RRSJ) </td> <!--录入时间-->
                <td>
                    @Html.TextBoxFor(m => m.RRSJ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RRSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZ) </td> <!--备注-->
                <td>
                    @Html.TextAreaFor(m => m.BZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.BZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSRKID) </td> <!--教师任课编号-->
                <td>
                    @Html.TextBoxFor(m => m.JSRKID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSRKID)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/mpjl/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
