@model HanRuEdu.LDAL.EDU_ZZJG_01_01_JZGJBSJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GH) </td> <!--工号-->
                <td>
                    @Html.TextBoxFor(m => m.GH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XM) </td> <!--姓名-->
                <td>
                    @Html.TextBoxFor(m => m.XM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YWXM) </td> <!--英文姓名-->
                <td>
                    @Html.TextBoxFor(m => m.YWXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YWXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XMPY) </td> <!--姓名拼音-->
                <td>
                    @Html.TextBoxFor(m => m.XMPY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XMPY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CYM) </td> <!--曾用名-->
                <td>
                    @Html.TextBoxFor(m => m.CYM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CYM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFZJLXM) </td> <!--身份证件类型码-->
                <td>
                    @Html.DropDownListFor(m => m.SFZJLXM, ViewBag.JY_SFZJLXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFZJLXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFZJH) </td> <!--身份证件号-->
                <td>
                    @Html.TextBoxFor(m => m.SFZJH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SFZJH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CSRQ) </td> <!--出生日期-->
                <td>
                    @Html.TextBoxFor(m => m.CSRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CSRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XBM) </td> <!--性别码-->
                <td>
                    @Html.DropDownListFor(m => m.XBM, ViewBag.GB_RDXBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MZM) </td> <!--民族码-->
                <td>
                    @Html.DropDownListFor(m => m.MZM, ViewBag.GB_ZGGMZMCDLMZMPXFLst as SelectList)
                    @Html.ValidationMessageFor(m => m.MZM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXM) </td> <!--血型码-->
                <td>
                    @Html.DropDownListFor(m => m.XXM, ViewBag.JY_XXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JKZKM) </td> <!--健康状况码-->
                <td>
                    @Html.DropDownListFor(m => m.JKZKM, ViewBag.GB_JKZKYWSZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.JKZKM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.HYZTM) </td> <!--婚姻状态码-->
                <td>
                    @Html.DropDownListFor(m => m.HYZTM, ViewBag.GB_HYZZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.HYZTM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZMMM) </td> <!--政治面貌码-->
                <td>
                    @Html.DropDownListFor(m => m.ZZMMM, ViewBag.GB_ZZMMLst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZZMMM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GATQWM) </td> <!--港澳台侨外码-->
                <td>
                    @Html.DropDownListFor(m => m.GATQWM, ViewBag.JY_GATQWLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GATQWM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JG) </td> <!--籍贯-->
                <td>
                    @Html.TextBoxFor(m => m.JG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GJDQM) </td> <!--国籍/地区码-->
                <td>
                    @Html.DropDownListFor(m => m.GJDQM, ViewBag.GB_SJGGHDQMCLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GJDQM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CSDXZQHM) </td> <!--出生地行政区划码-->
                <td>
                    @Html.DropDownListFor(m => m.CSDXZQHM, ViewBag.GB_ZHRMGHGXZQHLst as SelectList)
                    @Html.ValidationMessageFor(m => m.CSDXZQHM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XYZJM) </td> <!--信仰宗教码-->
                <td>
                    @Html.DropDownListFor(m => m.XYZJM, ViewBag.GB_ZJXYLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XYZJM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JZGHKSZDXZQHM) </td> <!--教职工户口所在地行政区划码-->
                <td>
                    @Html.DropDownListFor(m => m.JZGHKSZDXZQHM, ViewBag.GB_ZHRMGHGXZQHLst as SelectList)
                    @Html.ValidationMessageFor(m => m.JZGHKSZDXZQHM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.HKLBM) </td> <!--户口类别码-->
                <td>
                    @Html.DropDownListFor(m => m.HKLBM, ViewBag.GB_HKLBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.HKLBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DQZZ) </td> <!--当前住址-->
                <td>
                    @Html.TextBoxFor(m => m.DQZZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DQZZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DQZZYZBM) </td> <!--当前住址邮政编码-->
                <td>
                    @Html.TextBoxFor(m => m.DQZZYZBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DQZZYZBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CJGZNY) </td> <!--参加工作年月-->
                <td>
                    @Html.TextBoxFor(m => m.CJGZNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CJGZNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CJNY) </td> <!--从教年月-->
                <td>
                    @Html.TextBoxFor(m => m.CJNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CJNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LXNY) </td> <!--来校年月-->
                <td>
                    @Html.TextBoxFor(m => m.LXNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LXNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZLBM) </td> <!--编制类别码-->
                <td>
                    @Html.DropDownListFor(m => m.BZLBM, ViewBag.JY_BZLBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.BZLBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JZGLBM) </td> <!--教职工类别码-->
                <td>
                    @Html.DropDownListFor(m => m.JZGLBM, ViewBag.JY_JZGLBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.JZGLBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GWLBM) </td> <!--岗位类别码-->
                <td>
                    @Html.DropDownListFor(m => m.GWLBM, ViewBag.JY_GWLBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GWLBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFJZJS) </td> <!--是否兼职教师-->
                <td>
                    @Html.DropDownListFor(m => m.SFJZJS, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFJZJS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFSSXJS) </td> <!--是否双师型教师-->
                <td>
                    @Html.DropDownListFor(m => m.SFSSXJS, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFSSXJS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZP) </td> <!--照片(路径)-->
                <td>
                    @Html.TextBoxFor(m => m.ZP, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZP)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DQZTM) </td> <!--当前状态码-->
                <td>
                    @Html.DropDownListFor(m => m.DQZTM, ViewBag.JY_JZGDQZTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.DQZTM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YDDH) </td> <!--移动电话-->
                <td>
                    @Html.TextBoxFor(m => m.YDDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YDDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GDDH) </td> <!--固定电话-->
                <td>
                    @Html.TextBoxFor(m => m.GDDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GDDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TXDZYZBM) </td> <!--通信地址邮政编码-->
                <td>
                    @Html.TextBoxFor(m => m.TXDZYZBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TXDZYZBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TXDZ) </td> <!--通信地址-->
                <td>
                    @Html.TextBoxFor(m => m.TXDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TXDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DZXX) </td> <!--电子信箱-->
                <td>
                    @Html.TextBoxFor(m => m.DZXX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DZXX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WLDZ) </td> <!--网络地址-->
                <td>
                    @Html.TextBoxFor(m => m.WLDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WLDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSTXH) </td> <!--即时通讯号-->
                <td>
                    @Html.TextBoxFor(m => m.JSTXH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSTXH)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/jzgjbsj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
