@model HanRuEdu.LDAL.EDU_ZZXS_07_01_XJSJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--学生信息数据表-->
                <td>
                    @Html.TextBoxFor(m => m.XSXXID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZYXXID) </td> <!--专业基本信息-->
                <td>
                    @Html.TextBoxFor(m => m.ZYXXID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZYXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZBJID) </td> <!--学校班级数据表-->
                <td>
                    @Html.TextBoxFor(m => m.ZZBJID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZZBJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZNJID) </td> <!--学校年级数据表-->
                <td>
                    @Html.TextBoxFor(m => m.ZZNJID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZZNJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RXNY) </td> <!--入学年月-->
                <td>
                    @Html.TextBoxFor(m => m.RXNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RXNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSLBM) </td> <!--学生类别码-->
                <td>
                    @Html.DropDownListFor(m => m.XSLBM, ViewBag.JY_XSLBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XSLBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XZ) </td> <!--学制-->
                <td>
                    @Html.TextBoxFor(m => m.XZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZYM) </td> <!--专业码-->
                <td>
                    @Html.TextBoxFor(m => m.ZYM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZYM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSDQZTM) </td> <!--学生当前状态码-->
                <td>
                    @Html.DropDownListFor(m => m.XSDQZTM, ViewBag.JY_XSDQZTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XSDQZTM)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/xjsj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
