@model HanRuEdu.LDAL.EDU_ZZJX_08_A01_DGFSQ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/DGFSQ/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生ID-->
            <th field="XNID" width="50" sortable="true">@Html.LabelFor(m => m.XNID)</th><!--学年ID-->
            <th field="YJJE" width="50" sortable="true">@Html.LabelFor(m => m.YJJE)</th><!--已缴金额-->
            <th field="JFRQ" width="50" sortable="true">@Html.LabelFor(m => m.JFRQ)</th><!--缴费日期-->
            <th field="SFYSH" width="50" sortable="true">@Html.LabelFor(m => m.SFYSH)</th><!--是否已审核-->
            <th field="SHRID" width="50" sortable="true">@Html.LabelFor(m => m.SHRID)</th><!--审核人员ID-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzjx/dgfsq/create");
    ViewData["index_edit"] = Url.Content("~/zzjx/dgfsq/edit");
    //ViewData["index_detail"] = Url.Content("~/zzjx/dgfsq/details";)
    //ViewData["index_del"] = Url.Content("~/zzjx/dgfsq/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzjx/dgfsq/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
