@model HanRuEdu.LDAL.EDU_ELE_04_PKJGJL
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQID) </td> <!--学期ID-->
                <td>
                    @Html.TextBoxFor(m => m.XQID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XQID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TEACHERID) </td> <!--老师-->
                <td>
                    @Html.TextBoxFor(m => m.TEACHERID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TEACHERID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TEACHERNAME) </td> <!--老师-->
                <td>
                    @Html.TextBoxFor(m => m.TEACHERNAME, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TEACHERNAME)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.COURSEID) </td> <!--课程-->
                <td>
                    @Html.TextBoxFor(m => m.COURSEID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.COURSEID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.COURSENAME) </td> <!--课程-->
                <td>
                    @Html.TextBoxFor(m => m.COURSENAME, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.COURSENAME)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CLASSID) </td> <!--班级-->
                <td>
                    @Html.TextBoxFor(m => m.CLASSID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CLASSID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CLASSNAME) </td> <!--班级-->
                <td>
                    @Html.TextBoxFor(m => m.CLASSNAME, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CLASSNAME)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WEEKDAY) </td> <!--工作日-->
                <td>
                    @Html.TextBoxFor(m => m.WEEKDAY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WEEKDAY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WEEKDAYNAME) </td> <!--工作日名称-->
                <td>
                    @Html.TextBoxFor(m => m.WEEKDAYNAME, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WEEKDAYNAME)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PERIOD) </td> <!--时段-->
                <td>
                    @Html.TextBoxFor(m => m.PERIOD, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PERIOD)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PERIODNAME) </td> <!--时段名称-->
                <td>
                    @Html.TextBoxFor(m => m.PERIODNAME, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PERIODNAME)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SESSION) </td> <!--节次-->
                <td>
                    @Html.TextBoxFor(m => m.SESSION, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SESSION)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SESSIONNAME) </td> <!--节次名称-->
                <td>
                    @Html.TextBoxFor(m => m.SESSIONNAME, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SESSIONNAME)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/pkjgjl/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
