@model HanRuEdu.LDAL.EDU_ELE_04_PKJGJL
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/PKJGJL/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="XQID" width="50" sortable="true">@Html.LabelFor(m => m.XQID)</th><!--学期ID-->
            <th field="TEACHERID" width="50" sortable="true">@Html.LabelFor(m => m.TEACHERID)</th><!--老师-->
            <th field="TEACHERNAME" width="50" sortable="true">@Html.LabelFor(m => m.TEACHERNAME)</th><!--老师-->
            <th field="COURSEID" width="50" sortable="true">@Html.LabelFor(m => m.COURSEID)</th><!--课程-->
            <th field="COURSENAME" width="50" sortable="true">@Html.LabelFor(m => m.COURSENAME)</th><!--课程-->
            <th field="CLASSID" width="50" sortable="true">@Html.LabelFor(m => m.CLASSID)</th><!--班级-->
            <th field="CLASSNAME" width="50" sortable="true">@Html.LabelFor(m => m.CLASSNAME)</th><!--班级-->
            <th field="WEEKDAY" width="50" sortable="true">@Html.LabelFor(m => m.WEEKDAY)</th><!--工作日-->
            <th field="WEEKDAYNAME" width="50" sortable="true">@Html.LabelFor(m => m.WEEKDAYNAME)</th><!--工作日名称-->
            <th field="PERIOD" width="50" sortable="true">@Html.LabelFor(m => m.PERIOD)</th><!--时段-->
            <th field="PERIODNAME" width="50" sortable="true">@Html.LabelFor(m => m.PERIODNAME)</th><!--时段名称-->
            <th field="SESSION" width="50" sortable="true">@Html.LabelFor(m => m.SESSION)</th><!--节次-->
            <th field="SESSIONNAME" width="50" sortable="true">@Html.LabelFor(m => m.SESSIONNAME)</th><!--节次名称-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/pkjgjl/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/pkjgjl/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/pkjgjl/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/pkjgjl/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/pkjgjl/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
