@model HanRuEdu.LDAL.EDU_ZZBG_03_01_FWCL
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/FWCL/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WJID" width="50" sortable="true">@Html.LabelFor(m => m.WJID)</th><!--文件ID-->
            <th field="NGRID" width="50" sortable="true">@Html.LabelFor(m => m.NGRID)</th><!--拟稿人ID-->
            <th field="QFRID" width="50" sortable="true">@Html.LabelFor(m => m.QFRID)</th><!--签发人ID-->
            <th field="DJRID" width="50" sortable="true">@Html.LabelFor(m => m.DJRID)</th><!--登记人ID-->
            <th field="DZRID" width="50" sortable="true">@Html.LabelFor(m => m.DZRID)</th><!--打字人ID-->
            <th field="JDRID" width="50" sortable="true">@Html.LabelFor(m => m.JDRID)</th><!--校对人ID-->
            <th field="NGRGH" width="50" sortable="true">@Html.LabelFor(m => m.NGRGH)</th><!--拟稿人工号-->
            <th field="NGRQ" width="50" sortable="true">@Html.LabelFor(m => m.NGRQ)</th><!--拟稿日期-->
            <th field="QFRGH" width="50" sortable="true">@Html.LabelFor(m => m.QFRGH)</th><!--签发人工号-->
            <th field="QFRQ" width="50" sortable="true">@Html.LabelFor(m => m.QFRQ)</th><!--签发日期-->
            <th field="FSFW" width="50" sortable="true">@Html.LabelFor(m => m.FSFW)</th><!--发送范围-->
            <th field="FSFSM" width="50" sortable="true">@Html.LabelFor(m => m.FSFSM)</th><!--发送方式码-->
            <th field="DJRGH" width="50" sortable="true">@Html.LabelFor(m => m.DJRGH)</th><!--登记人工号-->
            <th field="DJRQ" width="50" sortable="true">@Html.LabelFor(m => m.DJRQ)</th><!--登记日期-->
            <th field="FWJS" width="50" sortable="true">@Html.LabelFor(m => m.FWJS)</th><!--发文件数-->
            <th field="GWFWRQ" width="50" sortable="true">@Html.LabelFor(m => m.GWFWRQ)</th><!--公文发文日期-->
            <th field="CLQK" width="50" sortable="true">@Html.LabelFor(m => m.CLQK)</th><!--处理情况-->
            <th field="DZRGH" width="50" sortable="true">@Html.LabelFor(m => m.DZRGH)</th><!--打字人工号-->
            <th field="JDRGH" width="50" sortable="true">@Html.LabelFor(m => m.JDRGH)</th><!--校对人工号-->
            <th field="FZFSM" width="50" sortable="true">@Html.LabelFor(m => m.FZFSM)</th><!--封装方式码-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzbg/fwcl/create");
    ViewData["index_edit"] = Url.Content("~/zzbg/fwcl/edit");
    //ViewData["index_detail"] = Url.Content("~/zzbg/fwcl/details";)
    //ViewData["index_del"] = Url.Content("~/zzbg/fwcl/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzbg/fwcl/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
