@model HanRuEdu.LDAL.EDU_WZXT_VIP
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/VIP/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="LOGINNAME" width="50" sortable="true">@Html.LabelFor(m => m.LOGINNAME)</th><!--用户名-->
            <th field="LOGINPWD" width="50" sortable="true">@Html.LabelFor(m => m.LOGINPWD)</th><!--密码-->
            <th field="REALNAME" width="50" sortable="true">@Html.LabelFor(m => m.REALNAME)</th><!--姓名-->
            <th field="EMAIL" width="50" sortable="true">@Html.LabelFor(m => m.EMAIL)</th><!--电子邮箱-->
            <th field="MOBILE" width="50" sortable="true">@Html.LabelFor(m => m.MOBILE)</th><!--联系电话-->
            <th field="QQ" width="50" sortable="true">@Html.LabelFor(m => m.QQ)</th><!--QQ号码-->
            <th field="AUDITSTATU" width="50" sortable="true">@Html.LabelFor(m => m.AUDITSTATU)</th><!--审核状态-->
            <th field="AUDITOR" width="50" sortable="true">@Html.LabelFor(m => m.AUDITOR)</th><!--审核人ID-->
            <th field="AUDITORNAME" width="50" sortable="true">@Html.LabelFor(m => m.AUDITORNAME)</th><!--审核人-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/wzxt/vip/create");
    ViewData["index_edit"] = Url.Content("~/wzxt/vip/edit");
    //ViewData["index_detail"] = Url.Content("~/wzxt/vip/details";)
    //ViewData["index_del"] = Url.Content("~/wzxt/vip/delete";)
    ViewData["index_multi_del"] = Url.Content("~/wzxt/vip/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
