@model HanRuEdu.LDAL.EDU_ZXXX_02_01_NJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/NJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="NJ" width="50" sortable="true">@Html.LabelFor(m => m.NJ)</th><!--年级号-->
            <th field="NJMC" width="50" sortable="true">@Html.LabelFor(m => m.NJMC)</th><!--年级名称-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/nj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/nj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/nj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/nj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/nj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
