@model HanRuEdu.LDAL.EDU_JPXT_03_03_XYHFXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XYHFXX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="XYID" width="50" sortable="true">@Html.LabelFor(m => m.XYID)</th><!--学员ID-->
            <th field="HFSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.HFSJ)</th><!--回访时间-->
            <th field="HFJG" width="50" sortable="true">@Html.LabelFor(m => m.HFJG)</th><!--回访结果-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xyhfxx/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xyhfxx/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xyhfxx/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xyhfxx/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xyhfxx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
