@model HanRuEdu.LDAL.EDU_ZZXS_07_02_XJYD
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XJYD/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--学籍异动表编号-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="YDLBM" width="50" sortable="true">@Html.LabelFor(m => m.YDLBM)</th><!--异动类别码-->
            <th field="YDRQ" width="50" sortable="true">@Html.LabelFor(m => m.YDRQ)</th><!--异动日期-->
            <th field="YDYYM" width="50" sortable="true">@Html.LabelFor(m => m.YDYYM)</th><!--异动原因码-->
            <th field="SPRQ" width="50" sortable="true">@Html.LabelFor(m => m.SPRQ)</th><!--审批日期-->
            <th field="SPWH" width="50" sortable="true">@Html.LabelFor(m => m.SPWH)</th><!--审批文号-->
            <th field="JBRID" width="50" sortable="true">@Html.LabelFor(m => m.JBRID)</th><!--经办人ID-->
            <th field="JBRGH" width="50" sortable="true">@Html.LabelFor(m => m.JBRGH)</th><!--经办人工号-->
            <th field="YDLYXXM" width="50" sortable="true">@Html.LabelFor(m => m.YDLYXXM)</th><!--异动来源学校码-->
            <th field="YDQXXXM" width="50" sortable="true">@Html.LabelFor(m => m.YDQXXXM)</th><!--异动去向学校码-->
            <th field="YDSM" width="50" sortable="true">@Html.LabelFor(m => m.YDSM)</th><!--异动说明-->
            <th field="YZYM" width="50" sortable="true">@Html.LabelFor(m => m.YZYM)</th><!--原专业码-->
            <th field="YZYID" width="50" sortable="true">@Html.LabelFor(m => m.YZYID)</th><!--原专业ID-->
            <th field="YBH" width="50" sortable="true">@Html.LabelFor(m => m.YBH)</th><!--原班号-->
            <th field="YNJ" width="50" sortable="true">@Html.LabelFor(m => m.YNJ)</th><!--原年级-->
            <th field="XZYM" width="50" sortable="true">@Html.LabelFor(m => m.XZYM)</th><!--现专业码-->
            <th field="XZYID" width="50" sortable="true">@Html.LabelFor(m => m.XZYID)</th><!--现专业ID-->
            <th field="XBH" width="50" sortable="true">@Html.LabelFor(m => m.XBH)</th><!--现班号-->
            <th field="XNJ" width="50" sortable="true">@Html.LabelFor(m => m.XNJ)</th><!--现年级-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xjyd/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xjyd/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xjyd/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xjyd/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xjyd/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
