@model HanRuEdu.LDAL.EDU_ZZJX_01_A01_KCPJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/KCPJ/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="PJID" width="50" sortable="true">@Html.LabelFor(m => m.PJID)</th><!--评价ID-->
            <th field="KXH" width="50" sortable="true">@Html.LabelFor(m => m.KXH)</th><!--课序号-->
            <th field="PJR" width="50" sortable="true">@Html.LabelFor(m => m.PJR)</th><!--评价人-->
            <th field="PJSJ" width="50" sortable="true">@Html.LabelFor(m => m.PJSJ)</th><!--评价时间-->
            <th field="PJNR" width="50" sortable="true">@Html.LabelFor(m => m.PJNR)</th><!--评价内容-->
            <th field="HF" width="50" sortable="true">@Html.LabelFor(m => m.HF)</th><!--回复-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzjx/kcpj/create");
    ViewData["index_edit"] = Url.Content("~/zzjx/kcpj/edit");
    //ViewData["index_detail"] = Url.Content("~/zzjx/kcpj/details";)
    //ViewData["index_del"] = Url.Content("~/zzjx/kcpj/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzjx/kcpj/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
