@model HanRuEdu.LDAL.EDU_ZZXS_06_01_XSCJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--学生ID-->
                <td>
                    @Html.TextBoxFor(m => m.XSXXID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCH) </td> <!--课程号-->
                <td>
                    @Html.TextBoxFor(m => m.KCH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQID) </td> <!--学期ID-->
                <td>
                    @Html.TextBoxFor(m => m.XQID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XQID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCMC) </td> <!--课程名称-->
                <td>
                    @Html.TextBoxFor(m => m.KCMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XF) </td> <!--学分-->
                <td>
                    @Html.TextBoxFor(m => m.XF, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XF)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQMC) </td> <!--学期名称-->
                <td>
                    @Html.TextBoxFor(m => m.XQMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XQMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PSCJ) </td> <!--平时成绩-->
                <td>
                    @Html.TextBoxFor(m => m.PSCJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PSCJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CJ) </td> <!--成绩-->
                <td>
                    @Html.TextBoxFor(m => m.CJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KSXZ) </td> <!--考试性质-->
                <td>
                    @Html.TextBoxFor(m => m.KSXZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KSXZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RKJGID) </td> <!--任课教工ID-->
                <td>
                    @Html.TextBoxFor(m => m.RKJGID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RKJGID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RKJGH) </td> <!--任课教工号-->
                <td>
                    @Html.TextBoxFor(m => m.RKJGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RKJGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CJLRJGID) </td> <!--成绩录入教工ID-->
                <td>
                    @Html.TextBoxFor(m => m.CJLRJGID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CJLRJGID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CJLRJGH) </td> <!--成绩录入教工号-->
                <td>
                    @Html.TextBoxFor(m => m.CJLRJGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CJLRJGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CJLRRQ) </td> <!--成绩录入日期-->
                <td>
                    @Html.TextBoxFor(m => m.CJLRRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CJLRRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QZCJ) </td> <!--期中成绩-->
                <td>
                    @Html.TextBoxFor(m => m.QZCJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QZCJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QMCJ) </td> <!--期末成绩-->
                <td>
                    @Html.TextBoxFor(m => m.QMCJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QMCJ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/xscj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
