@model HanRuEdu.LDAL.EDU_ZXJX_01_01_KC
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCH) </td> <!--课程号-->
                <td>
                    @Html.TextBoxFor(m => m.KCH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCMC) </td> <!--课程名称-->
                <td>
                    @Html.TextBoxFor(m => m.KCMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCM) </td> <!--课程码-->
                <td>
                    @Html.DropDownListFor(m => m.KCM, ViewBag.JY_ZXXKCLst as SelectList)
                    @Html.ValidationMessageFor(m => m.KCM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCDJM) </td> <!--课程等级码-->
                <td>
                    @Html.DropDownListFor(m => m.KCDJM, ViewBag.JY_ZXXKCDJLst as SelectList)
                    @Html.ValidationMessageFor(m => m.KCDJM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCBM) </td> <!--课程别名-->
                <td>
                    @Html.TextBoxFor(m => m.KCBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCJJ) </td> <!--课程简介-->
                <td>
                    @Html.TextBoxFor(m => m.KCJJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCJJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCYQ) </td> <!--课程要求-->
                <td>
                    @Html.TextBoxFor(m => m.KCYQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCYQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZXS) </td> <!--总学时-->
                <td>
                    @Html.TextBoxFor(m => m.ZXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZHXS) </td> <!--周学时-->
                <td>
                    @Html.TextBoxFor(m => m.ZHXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZHXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZXXS) </td> <!--自学学时-->
                <td>
                    @Html.TextBoxFor(m => m.ZXXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZXXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SKFSM) </td> <!--授课方式码-->
                <td>
                    @Html.DropDownListFor(m => m.SKFSM, ViewBag.JY_SKFSLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SKFSM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JCBM) </td> <!--教材编码-->
                <td>
                    @Html.TextBoxFor(m => m.JCBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JCBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CKSM) </td> <!--参考书目-->
                <td>
                    @Html.TextBoxFor(m => m.CKSM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CKSM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CDXZ) </td> <!--场地限制-->
                <td>
                    @Html.TextBoxFor(m => m.CDXZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CDXZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFZK) </td> <!--是否主课-->
                <td>
                    @Html.DropDownListFor(m => m.SFZK, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFZK)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/kc/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
