@model HanRuEdu.LDAL.EDU_ZZJG_02_02_XNGWSJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XNGWSJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="GWID" width="50" sortable="true">@Html.LabelFor(m => m.GWID)</th><!--岗位表ID-->
            <th field="JZGJBSJID" width="50" sortable="true">@Html.LabelFor(m => m.JZGJBSJID)</th><!--教职工基本数据子类表-->
            <th field="GWQSNY" width="50" sortable="true">@Html.LabelFor(m => m.GWQSNY)</th><!--岗位起始年月-->
            <th field="GWJSNY" width="50" sortable="true">@Html.LabelFor(m => m.GWJSNY)</th><!--岗位结束年月-->
            <th field="SFZG" width="50" sortable="true">@Html.LabelFor(m => m.SFZG)</th><!--是否在岗-->
            <th field="ZWMC" width="50" sortable="true">@Html.LabelFor(m => m.ZWMC)</th><!--职务名称-->
            <th field="JGH" width="50" sortable="true">@Html.LabelFor(m => m.JGH)</th><!--机构号-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xngwsj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xngwsj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xngwsj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xngwsj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xngwsj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
