@model HanRuEdu.LDAL.EDU_ZZXS_02_A01_XSLXR
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/XSLXR/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生信息数据表-->
            <th field="GXM" width="50" sortable="true">@Html.LabelFor(m => m.GXM)</th><!--关系码-->
            <th field="LXRXM" width="50" sortable="true">@Html.LabelFor(m => m.LXRXM)</th><!--联系人姓名-->
            <th field="YZBM" width="50" sortable="true">@Html.LabelFor(m => m.YZBM)</th><!--邮政编码-->
            <th field="TXDZ" width="50" sortable="true">@Html.LabelFor(m => m.TXDZ)</th><!--通信地址-->
            <th field="DH" width="50" sortable="true">@Html.LabelFor(m => m.DH)</th><!--电话-->
            <th field="YDDH" width="50" sortable="true">@Html.LabelFor(m => m.YDDH)</th><!--移动电话-->
            <th field="CZDH" width="50" sortable="true">@Html.LabelFor(m => m.CZDH)</th><!--传真电话-->
            <th field="DZXX" width="50" sortable="true">@Html.LabelFor(m => m.DZXX)</th><!--电子信箱-->
            <th field="WLDZ" width="50" sortable="true">@Html.LabelFor(m => m.WLDZ)</th><!--网络地址-->
            <th field="JSTXH" width="50" sortable="true">@Html.LabelFor(m => m.JSTXH)</th><!--即时通讯号-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzxs/xslxr/create");
    ViewData["index_edit"] = Url.Content("~/zzxs/xslxr/edit");
    //ViewData["index_detail"] = Url.Content("~/zzxs/xslxr/details";)
    //ViewData["index_del"] = Url.Content("~/zzxs/xslxr/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzxs/xslxr/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
