@model HanRuEdu.LDAL.EDU_ELE_03_APPRZ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/APPRZ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="APPID" width="50" sortable="true">@Html.LabelFor(m => m.APPID)</th><!--应用ID-->
            <th field="RZLX" width="50" sortable="true">@Html.LabelFor(m => m.RZLX)</th><!--日志类型-->
            <th field="YHID" width="50" sortable="true">@Html.LabelFor(m => m.YHID)</th><!--操作用户-->
            <th field="CZSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.CZSJ)</th><!--操作时间-->
            <th field="CZYY" width="50" sortable="true">@Html.LabelFor(m => m.CZYY)</th><!--操作应用-->
            <th field="CZLX" width="50" sortable="true">@Html.LabelFor(m => m.CZLX)</th><!--操作类型-->
            <th field="CZJTXX" width="50" sortable="true">@Html.LabelFor(m => m.CZJTXX)</th><!--操作具体信息-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/apprz/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/apprz/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/apprz/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/apprz/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/apprz/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
