@model HanRuEdu.LDAL.EDU_WZXT_TPXT_TPTM
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/TPTM/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--投票题目ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="TPID" width="50" sortable="true">@Html.LabelFor(m => m.TPID)</th><!--投票-->
            <th field="TYPEID" width="50" sortable="true">@Html.LabelFor(m => m.TYPEID)</th><!--投票形式-->
            <th field="TITLE" width="50" sortable="true">@Html.LabelFor(m => m.TITLE)</th><!--标题-->
            <th field="CONTENT" width="50" sortable="true">@Html.LabelFor(m => m.CONTENT)</th><!--内容-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/tptm/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/tptm/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/tptm/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/tptm/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/tptm/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
