@model HanRuEdu.LDAL.EDU_ZXBG_12_A01_SJFB
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--数据发布ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WEBID) </td> <!--网站ID-->
                <td>
                    @Html.TextBoxFor(m => m.WEBID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WEBID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBRID) </td> <!--发布人ID-->
                <td>
                    @Html.TextBoxFor(m => m.FBRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBBZRID) </td> <!--发布批准人ID-->
                <td>
                    @Html.TextBoxFor(m => m.FBBZRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBBZRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBH) </td> <!--发布号-->
                <td>
                    @Html.TextBoxFor(m => m.FBH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXBT) </td> <!--数据标题-->
                <td>
                    @Html.TextBoxFor(m => m.XXBT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXBT)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBLMH) </td> <!--发布栏目号-->
                <td>
                    @Html.TextBoxFor(m => m.FBLMH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBLMH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SJNR) </td> <!--数据内容-->
                <td>
                    @Html.TextBoxFor(m => m.SJNR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SJNR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FJS) </td> <!--附件数-->
                <td>
                    @Html.TextBoxFor(m => m.FJS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FJS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBRQ) </td> <!--发布日期-->
                <td>
                    @Html.TextBoxFor(m => m.FBRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBDW) </td> <!--发布单位号-->
                <td>
                    @Html.TextBoxFor(m => m.FBDW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBDW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBRGH) </td> <!--发布人工号-->
                <td>
                    @Html.TextBoxFor(m => m.FBRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBFW) </td> <!--发布范围-->
                <td>
                    @Html.TextBoxFor(m => m.FBFW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBFW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FBBZRH) </td> <!--发布批准人号-->
                <td>
                    @Html.TextBoxFor(m => m.FBBZRH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FBBZRH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SJZT) </td> <!--数据状态-->
                <td>
                    @Html.TextBoxFor(m => m.SJZT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SJZT)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/sjfb/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
