@model HanRuEdu.LDAL.EDU_ZXBG_12_A01_SJFB
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/SJFB/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--数据发布ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="FBRID" width="50" sortable="true">@Html.LabelFor(m => m.FBRID)</th><!--发布人ID-->
            <th field="FBBZRID" width="50" sortable="true">@Html.LabelFor(m => m.FBBZRID)</th><!--发布批准人ID-->
            <th field="FBH" width="50" sortable="true">@Html.LabelFor(m => m.FBH)</th><!--发布号-->
            <th field="XXBT" width="50" sortable="true">@Html.LabelFor(m => m.XXBT)</th><!--数据标题-->
            <th field="FBLMH" width="50" sortable="true">@Html.LabelFor(m => m.FBLMH)</th><!--发布栏目号-->
            <th field="SJNR" width="50" sortable="true">@Html.LabelFor(m => m.SJNR)</th><!--数据内容-->
            <th field="FJS" width="50" sortable="true">@Html.LabelFor(m => m.FJS)</th><!--附件数-->
            <th field="FBRQ" width="50" sortable="true">@Html.LabelFor(m => m.FBRQ)</th><!--发布日期-->
            <th field="FBDW" width="50" sortable="true">@Html.LabelFor(m => m.FBDW)</th><!--发布单位号-->
            <th field="FBRGH" width="50" sortable="true">@Html.LabelFor(m => m.FBRGH)</th><!--发布人工号-->
            <th field="FBFW" width="50" sortable="true">@Html.LabelFor(m => m.FBFW)</th><!--发布范围-->
            <th field="FBBZRH" width="50" sortable="true">@Html.LabelFor(m => m.FBBZRH)</th><!--发布批准人号-->
            <th field="SJZT" width="50" sortable="true">@Html.LabelFor(m => m.SJZT)</th><!--数据状态-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zxbg/sjfb/create");
    ViewData["index_edit"] = Url.Content("~/zxbg/sjfb/edit");
    //ViewData["index_detail"] = Url.Content("~/zxbg/sjfb/details";)
    //ViewData["index_del"] = Url.Content("~/zxbg/sjfb/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zxbg/sjfb/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
