@model HanRuEdu.LDAL.EDU_ZXDY_06_A01_ZZXJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--值周小结表ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQID) </td> <!--学期ID-->
                <td>
                    @Html.DropDownListFor(m => m.XQID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.XQID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZCID) </td> <!--周次ID-->
                <td>
                    @Html.DropDownListFor(m => m.ZCID, ViewBag.ZXDY_04Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZCID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SZDS) </td> <!--上周大事-->
                <td>
                    @Html.TextBoxFor(m => m.SZDS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SZDS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZJCQKFK) </td> <!--值周检查情况反馈-->
                <td>
                    @Html.TextBoxFor(m => m.ZZJCQKFK, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZZJCQKFK)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/zzxj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
