@model HanRuEdu.LDAL.EDU_ZXJX_07_A01_CJFXPZ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/CJFXPZ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="SSKSID" width="50" sortable="true">@Html.LabelFor(m => m.SSKSID)</th><!--配置名称-->
            <th field="FXLX" width="50" sortable="true">@Html.LabelFor(m => m.FXLX)</th><!--分析类型-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/cjfxpz/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/cjfxpz/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/cjfxpz/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/cjfxpz/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/cjfxpz/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
