@model HanRuEdu.LDAL.EDU_ZZXS_01_01_XSXX
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XH) </td> <!--学号-->
                <td>
                    @Html.TextBoxFor(m => m.XH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XM) </td> <!--姓名-->
                <td>
                    @Html.TextBoxFor(m => m.XM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YWXM) </td> <!--英文姓名-->
                <td>
                    @Html.TextBoxFor(m => m.YWXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YWXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XMPY) </td> <!--姓名拼音-->
                <td>
                    @Html.TextBoxFor(m => m.XMPY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XMPY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CYM) </td> <!--曾用名-->
                <td>
                    @Html.TextBoxFor(m => m.CYM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CYM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFZJLXM) </td> <!--身份证件类型码-->
                <td>
                    @Html.DropDownListFor(m => m.SFZJLXM, ViewBag.JY_SFZJLXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFZJLXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFZJH) </td> <!--身份证件号-->
                <td>
                    @Html.TextBoxFor(m => m.SFZJH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SFZJH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XBM) </td> <!--性别码-->
                <td>
                    @Html.DropDownListFor(m => m.XBM, ViewBag.GB_RDXBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXM) </td> <!--血型码-->
                <td>
                    @Html.DropDownListFor(m => m.XXM, ViewBag.JY_XXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CSRQ) </td> <!--出生日期-->
                <td>
                    @Html.TextBoxFor(m => m.CSRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CSRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CSDM) </td> <!--出生地码-->
                <td>
                    @Html.DropDownListFor(m => m.CSDM, ViewBag.GB_ZHRMGHGXZQHLst as SelectList)
                    @Html.ValidationMessageFor(m => m.CSDM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JG) </td> <!--籍贯-->
                <td>
                    @Html.TextBoxFor(m => m.JG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.MZM) </td> <!--民族码-->
                <td>
                    @Html.DropDownListFor(m => m.MZM, ViewBag.GB_ZGGMZMCDLMZMPXFLst as SelectList)
                    @Html.ValidationMessageFor(m => m.MZM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.HYZKM) </td> <!--婚姻状况码-->
                <td>
                    @Html.DropDownListFor(m => m.HYZKM, ViewBag.GB_HYZZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.HYZKM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XYZJM) </td> <!--信仰宗教码-->
                <td>
                    @Html.DropDownListFor(m => m.XYZJM, ViewBag.GB_ZJXYLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XYZJM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GATQWM) </td> <!--港澳台侨外码-->
                <td>
                    @Html.DropDownListFor(m => m.GATQWM, ViewBag.JY_GATQWLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GATQWM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JKZKM) </td> <!--健康状况码-->
                <td>
                    @Html.DropDownListFor(m => m.JKZKM, ViewBag.GB_JKZKYWSZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.JKZKM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZMMM) </td> <!--政治面貌码-->
                <td>
                    @Html.DropDownListFor(m => m.ZZMMM, ViewBag.GB_ZZMMLst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZZMMM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.HKSZDXZQHM) </td> <!--户口所在地行政区划码-->
                <td>
                    @Html.DropDownListFor(m => m.HKSZDXZQHM, ViewBag.GB_ZHRMGHGXZQHLst as SelectList)
                    @Html.ValidationMessageFor(m => m.HKSZDXZQHM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.HKLBM) </td> <!--户口类别码-->
                <td>
                    @Html.DropDownListFor(m => m.HKLBM, ViewBag.GB_HKLBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.HKLBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFSLDRK) </td> <!--是否是流动人口-->
                <td>
                    @Html.DropDownListFor(m => m.SFSLDRK, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFSLDRK)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GJDQM) </td> <!--国籍/地区-->
                <td>
                    @Html.DropDownListFor(m => m.GJDQM, ViewBag.GB_SJGGHDQMCLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GJDQM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TC) </td> <!--特长-->
                <td>
                    @Html.TextAreaFor(m => m.TC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.TC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSLXDH) </td> <!--学生联系电话-->
                <td>
                    @Html.TextBoxFor(m => m.XSLXDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSLXDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WLDZ) </td> <!--网络地址-->
                <td>
                    @Html.TextBoxFor(m => m.WLDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WLDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSTXH) </td> <!--即时通讯号-->
                <td>
                    @Html.TextBoxFor(m => m.JSTXH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSTXH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DZXX) </td> <!--电子信箱-->
                <td>
                    @Html.TextBoxFor(m => m.DZXX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DZXX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZP) </td> <!--照片(路径)-->
                <td>
                    @Html.TextBoxFor(m => m.ZP, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZP)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/xsxx/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
