@model HanRuEdu.LDAL.EDU_ZZJX_01_02_KC
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/KC/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="KCH" width="50" sortable="true">@Html.LabelFor(m => m.KCH)</th><!--课程号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="KCMC" width="50" sortable="true">@Html.LabelFor(m => m.KCMC)</th><!--课程名称-->
            <th field="KCYWM" width="50" sortable="true">@Html.LabelFor(m => m.KCYWM)</th><!--课程英文名-->
            <th field="KCBM" width="50" sortable="true">@Html.LabelFor(m => m.KCBM)</th><!--课程别名-->
            <th field="KCJS" width="50" sortable="true">@Html.LabelFor(m => m.KCJS)</th><!--课程介绍-->
            <th field="XF" width="50" sortable="true">@Html.LabelFor(m => m.XF)</th><!--学分-->
            <th field="ZXS" width="50" sortable="true">@Html.LabelFor(m => m.ZXS)</th><!--总学时-->
            <th field="LLXS" width="50" sortable="true">@Html.LabelFor(m => m.LLXS)</th><!--理论学时-->
            <th field="SJXS" width="50" sortable="true">@Html.LabelFor(m => m.SJXS)</th><!--实践学时-->
            <th field="QTXS" width="50" sortable="true">@Html.LabelFor(m => m.QTXS)</th><!--其他学时-->
            <th field="CKSM" width="50" sortable="true">@Html.LabelFor(m => m.CKSM)</th><!--参考书目-->
            <th field="KKDW" width="50" sortable="true">@Html.LabelFor(m => m.KKDW)</th><!--开课单位-->
            <th field="KSXS" width="50" sortable="true">@Html.LabelFor(m => m.KSXS)</th><!--考试形式-->
            <th field="SKFSM" width="50" sortable="true">@Html.LabelFor(m => m.SKFSM)</th><!--授课方式码-->
            <th field="KCFY" width="50" sortable="true">@Html.LabelFor(m => m.KCFY)</th><!--课程费用-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/kc/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/kc/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/kc/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/kc/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/kc/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
