@model HanRuEdu.LDAL.EDU_ZYZX_MHXT_YQLJLX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/YQLJLX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--友情链接类型ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="NAME" width="50" sortable="true">@Html.LabelFor(m => m.NAME)</th><!--类型名-->
            <th field="SHOWSTYLE" width="50" sortable="true">@Html.LabelFor(m => m.SHOWSTYLE)</th><!--显示方式-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/yqljlx/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/yqljlx/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/yqljlx/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/yqljlx/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/yqljlx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
