@model HanRuEdu.LDAL.EDU_ZZJX_07_01_XWSXJDXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/XWSXJDXX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--企业表ID-->
            <th field="QYBH" width="50" sortable="true">@Html.LabelFor(m => m.QYBH)</th><!--企业编号-->
            <th field="JDHZHTBH" width="50" sortable="true">@Html.LabelFor(m => m.JDHZHTBH)</th><!--基地合作合同编号-->
            <th field="JDHZHTMC" width="50" sortable="true">@Html.LabelFor(m => m.JDHZHTMC)</th><!--基地合作合同名称-->
            <th field="JDLBM" width="50" sortable="true">@Html.LabelFor(m => m.JDLBM)</th><!--基地类别码-->
            <th field="DWMC" width="50" sortable="true">@Html.LabelFor(m => m.DWMC)</th><!--单位名称-->
            <th field="QYXZQ" width="50" sortable="true">@Html.LabelFor(m => m.QYXZQ)</th><!--企业行政区-->
            <th field="QYDZ" width="50" sortable="true">@Html.LabelFor(m => m.QYDZ)</th><!--企业地址-->
            <th field="QYXZ" width="50" sortable="true">@Html.LabelFor(m => m.QYXZ)</th><!--企业性质-->
            <th field="FRDB" width="50" sortable="true">@Html.LabelFor(m => m.FRDB)</th><!--法人代表-->
            <th field="QYLXR" width="50" sortable="true">@Html.LabelFor(m => m.QYLXR)</th><!--企业联系人-->
            <th field="QYYZBM" width="50" sortable="true">@Html.LabelFor(m => m.QYYZBM)</th><!--企业邮政编码-->
            <th field="QYLXDH" width="50" sortable="true">@Html.LabelFor(m => m.QYLXDH)</th><!--企业联系电话-->
            <th field="QYYYZZ" width="50" sortable="true">@Html.LabelFor(m => m.QYYYZZ)</th><!--企业营业执照-->
            <th field="QYLX" width="50" sortable="true">@Html.LabelFor(m => m.QYLX)</th><!--企业类型-->
            <th field="QYRS" width="50" sortable="true">@Html.LabelFor(m => m.QYRS)</th><!--企业人数-->
            <th field="QYZCZJ" width="50" sortable="true">@Html.LabelFor(m => m.QYZCZJ)</th><!--企业注册资金-->
            <th field="QYCZ" width="50" sortable="true">@Html.LabelFor(m => m.QYCZ)</th><!--企业传真-->
            <th field="QYFZR" width="50" sortable="true">@Html.LabelFor(m => m.QYFZR)</th><!--企业负责人-->
            <th field="FZRZW" width="50" sortable="true">@Html.LabelFor(m => m.FZRZW)</th><!--负责人职位-->
            <th field="FZRLXDH" width="50" sortable="true">@Html.LabelFor(m => m.FZRLXDH)</th><!--负责人联系电话-->
            <th field="QYYXDZ" width="50" sortable="true">@Html.LabelFor(m => m.QYYXDZ)</th><!--企业邮箱地址-->
            <th field="QYQQ" width="50" sortable="true">@Html.LabelFor(m => m.QYQQ)</th><!--企业QQ-->
            <th field="QYMSN" width="50" sortable="true">@Html.LabelFor(m => m.QYMSN)</th><!--企业MSN-->
            <th field="QYWZ" width="50" sortable="true">@Html.LabelFor(m => m.QYWZ)</th><!--企业网址-->
            <th field="QYJJ" width="50" sortable="true">@Html.LabelFor(m => m.QYJJ)</th><!--企业简介-->
            <th field="SHZT" width="50" sortable="true">@Html.LabelFor(m => m.SHZT)</th><!--审核状态-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/xwsxjdxx/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/xwsxjdxx/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/xwsxjdxx/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/xwsxjdxx/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/xwsxjdxx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
