@model HanRuEdu.LDAL.EDU_ZXBG_03_04_CP
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WJID) </td> <!--文件ID-->
                <td>
                    @Html.TextBoxFor(m => m.WJID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PFRID) </td> <!--批复人ID-->
                <td>
                    @Html.TextBoxFor(m => m.PFRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PFRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PFR) </td> <!--批复人-->
                <td>
                    @Html.TextBoxFor(m => m.PFR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PFR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PFDW) </td> <!--批复单位-->
                <td>
                    @Html.TextBoxFor(m => m.PFDW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PFDW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PFYJ) </td> <!--批复意见-->
                <td>
                    @Html.TextBoxFor(m => m.PFYJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PFYJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PFRQ) </td> <!--批复日期-->
                <td>
                    @Html.TextBoxFor(m => m.PFRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PFRQ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/cp/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
