@model HanRuEdu.LDAL.EDU_ZZJX_07_A04_SXGW
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/SXGW/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--实习岗位ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="QYID" width="50" sortable="true">@Html.LabelFor(m => m.QYID)</th><!--企业ID-->
            <th field="GWMC" width="50" sortable="true">@Html.LabelFor(m => m.GWMC)</th><!--岗位名称-->
            <th field="QYMC" width="50" sortable="true">@Html.LabelFor(m => m.QYMC)</th><!--企业名称-->
            <th field="ZPKSSJ" width="50" sortable="true">@Html.LabelFor(m => m.ZPKSSJ)</th><!--招聘开始时间-->
            <th field="ZPJSSJ" width="50" sortable="true">@Html.LabelFor(m => m.ZPJSSJ)</th><!--招聘结束时间-->
            <th field="GZXS" width="50" sortable="true">@Html.LabelFor(m => m.GZXS)</th><!--工作形式-->
            <th field="XBYQ" width="50" sortable="true">@Html.LabelFor(m => m.XBYQ)</th><!--性别要求-->
            <th field="GWXC" width="50" sortable="true">@Html.LabelFor(m => m.GWXC)</th><!--岗位薪酬-->
            <th field="WYYQ" width="50" sortable="true">@Html.LabelFor(m => m.WYYQ)</th><!--外语要求-->
            <th field="GZDD" width="50" sortable="true">@Html.LabelFor(m => m.GZDD)</th><!--工作地点-->
            <th field="JSJSP" width="50" sortable="true">@Html.LabelFor(m => m.JSJSP)</th><!--计算机水平-->
            <th field="ZPRS" width="50" sortable="true">@Html.LabelFor(m => m.ZPRS)</th><!--招聘人数-->
            <th field="XLYQ" width="50" sortable="true">@Html.LabelFor(m => m.XLYQ)</th><!--学历要求-->
            <th field="ZYYQ" width="50" sortable="true">@Html.LabelFor(m => m.ZYYQ)</th><!--专业要求-->
            <th field="NLYQ" width="50" sortable="true">@Html.LabelFor(m => m.NLYQ)</th><!--年龄要求-->
            <th field="GWJJ" width="50" sortable="true">@Html.LabelFor(m => m.GWJJ)</th><!--岗位简介-->
            <th field="JBQK" width="50" sortable="true">@Html.LabelFor(m => m.JBQK)</th><!--基本情况-->
            <th field="GZJY" width="50" sortable="true">@Html.LabelFor(m => m.GZJY)</th><!--工作经验-->
            <th field="SHZT" width="50" sortable="true">@Html.LabelFor(m => m.SHZT)</th><!--审核状态-->
            <th field="GWZT" width="50" sortable="true">@Html.LabelFor(m => m.GWZT)</th><!--岗位状态-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzjx/sxgw/create");
    ViewData["index_edit"] = Url.Content("~/zzjx/sxgw/edit");
    //ViewData["index_detail"] = Url.Content("~/zzjx/sxgw/details";)
    //ViewData["index_del"] = Url.Content("~/zzjx/sxgw/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzjx/sxgw/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
