@model HanRuEdu.LDAL.EDU_WZXT_TPXT_TPXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/TPXX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--投票题目选项ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="TPID" width="50" sortable="true">@Html.LabelFor(m => m.TPID)</th><!--投票-->
            <th field="TMID" width="50" sortable="true">@Html.LabelFor(m => m.TMID)</th><!--投票题目-->
            <th field="TITLE" width="50" sortable="true">@Html.LabelFor(m => m.TITLE)</th><!--标题-->
            <th field="SUMTP" width="50" sortable="true">@Html.LabelFor(m => m.SUMTP)</th><!--已选人数-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/tpxx/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/tpxx/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/tpxx/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/tpxx/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/tpxx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
