@model HanRuEdu.LDAL.EDU_ZZXS_07_03_XSZCXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XSZCXX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="XQID" width="50" sortable="true">@Html.LabelFor(m => m.XQID)</th><!--学期ID-->
            <th field="ZCZKM" width="50" sortable="true">@Html.LabelFor(m => m.ZCZKM)</th><!--注册状况码-->
            <th field="ZCRQ" width="50" sortable="true">@Html.LabelFor(m => m.ZCRQ)</th><!--注册日期-->
            <th field="BDRQ" width="50" sortable="true">@Html.LabelFor(m => m.BDRQ)</th><!--报到日期-->
            <th field="WZCYY" width="50" sortable="true">@Html.LabelFor(m => m.WZCYY)</th><!--未注册原因-->
            <th field="WZCWBDQX" width="50" sortable="true">@Html.LabelFor(m => m.WZCWBDQX)</th><!--未注册/未报到去向-->
            <th field="SFQJ" width="50" sortable="true">@Html.LabelFor(m => m.SFQJ)</th><!--是否请假-->
            <th field="WASZCXQM" width="50" sortable="true">@Html.LabelFor(m => m.WASZCXQM)</th><!--未按时注册学期码-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xszcxx/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xszcxx/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xszcxx/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xszcxx/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xszcxx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
