@model HanRuEdu.LDAL.EDU_ZXXX_01_01_ZXXX
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXDM) </td> <!--学校代码-->
                <td>
                    @Html.TextBoxFor(m => m.XXDM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXDM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXMC) </td> <!--学校名称-->
                <td>
                    @Html.TextBoxFor(m => m.XXMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXYWMC) </td> <!--学校英文名称-->
                <td>
                    @Html.TextBoxFor(m => m.XXYWMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXYWMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXDZ) </td> <!--学校地址-->
                <td>
                    @Html.TextBoxFor(m => m.XXDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXYZBM) </td> <!--学校邮政编码-->
                <td>
                    @Html.TextBoxFor(m => m.XXYZBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXYZBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XZQHM) </td> <!--行政区划码-->
                <td>
                    @Html.DropDownListFor(m => m.XZQHM, ViewBag.GB_ZHRMGHGXZQHLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XZQHM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JXNY) </td> <!--建校年月-->
                <td>
                    @Html.TextBoxFor(m => m.JXNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JXNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XQR) </td> <!--校庆日-->
                <td>
                    @Html.TextBoxFor(m => m.XQR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XQR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXBXLXM) </td> <!--学校办学类型码-->
                <td>
                    @Html.DropDownListFor(m => m.XXBXLXM, ViewBag.JY_BXLXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XXBXLXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXZGBMM) </td> <!--学校主管部门码-->
                <td>
                    @Html.DropDownListFor(m => m.XXZGBMM, ViewBag.JY_XXJYJGJBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XXZGBMM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FDDBRH) </td> <!--法定代表人号-->
                <td>
                    @Html.TextBoxFor(m => m.FDDBRH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FDDBRH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FRZSH) </td> <!--法人证书号-->
                <td>
                    @Html.TextBoxFor(m => m.FRZSH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FRZSH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XZGH) </td> <!--校长工号-->
                <td>
                    @Html.TextBoxFor(m => m.XZGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XZGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XZXM) </td> <!--校长姓名-->
                <td>
                    @Html.TextBoxFor(m => m.XZXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XZXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DWFZRH) </td> <!--党委负责人号-->
                <td>
                    @Html.TextBoxFor(m => m.DWFZRH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DWFZRH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZJGM) </td> <!--组织机构码-->
                <td>
                    @Html.TextBoxFor(m => m.ZZJGM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZZJGM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LXDH) </td> <!--联系电话-->
                <td>
                    @Html.TextBoxFor(m => m.LXDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LXDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CZDH) </td> <!--传真电话-->
                <td>
                    @Html.TextBoxFor(m => m.CZDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CZDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DZXX) </td> <!--电子信箱-->
                <td>
                    @Html.TextBoxFor(m => m.DZXX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DZXX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZYDZ) </td> <!--主页地址-->
                <td>
                    @Html.TextBoxFor(m => m.ZYDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZYDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LSYG) </td> <!--历史沿革-->
                <td>
                    @Html.TextAreaFor(m => m.LSYG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.LSYG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXBBM) </td> <!--学校办别码-->
                <td>
                    @Html.DropDownListFor(m => m.XXBBM, ViewBag.JY_XXBBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XXBBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SSZGDWM) </td> <!--所属主管单位码-->
                <td>
                    @Html.DropDownListFor(m => m.SSZGDWM, ViewBag.JY_XXJYJGJBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SSZGDWM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SZDCXLXM) </td> <!--所在地城乡类型码-->
                <td>
                    @Html.DropDownListFor(m => m.SZDCXLXM, ViewBag.JY_SZDCXLXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SZDCXLXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SZDJJSXM) </td> <!--所在地经济属性码-->
                <td>
                    @Html.DropDownListFor(m => m.SZDJJSXM, ViewBag.JY_SZDQJJSXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SZDJJSXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SZDMZSX) </td> <!--所在地民族属性-->
                <td>
                    @Html.DropDownListFor(m => m.SZDMZSX, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SZDMZSX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXXZ) </td> <!--小学学制-->
                <td>
                    @Html.TextBoxFor(m => m.XXXZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXXZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXRXNL) </td> <!--小学入学年龄-->
                <td>
                    @Html.TextBoxFor(m => m.XXRXNL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXRXNL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CZXZ) </td> <!--初中学制-->
                <td>
                    @Html.TextBoxFor(m => m.CZXZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CZXZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CZRXNL) </td> <!--初中入学年龄-->
                <td>
                    @Html.TextBoxFor(m => m.CZRXNL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CZRXNL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GZXZ) </td> <!--高中学制-->
                <td>
                    @Html.TextBoxFor(m => m.GZXZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GZXZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZJXYYM) </td> <!--主教学语言码-->
                <td>
                    @Html.DropDownListFor(m => m.ZJXYYM, ViewBag.GB_ZGYZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZJXYYM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FJXYYM) </td> <!--辅教学语言码-->
                <td>
                    @Html.DropDownListFor(m => m.FJXYYM, ViewBag.GB_ZGYZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.FJXYYM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZSBJ) </td> <!--招生半径-->
                <td>
                    @Html.TextBoxFor(m => m.ZSBJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZSBJ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/zxxx/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
