@model HanRuEdu.LDAL.EDU_ZZJG_07_01_JZGZYNL
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JZGJBSJID) </td> <!--教职工ID-->
                <td>
                    @Html.DropDownListFor(m => m.JZGJBSJID, ViewBag.ZZJG_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.JZGJBSJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZSMC) </td> <!--证书名称-->
                <td>
                    @Html.TextBoxFor(m => m.ZSMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZSMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZSBH) </td> <!--证书编号-->
                <td>
                    @Html.TextBoxFor(m => m.ZSBH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZSBH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZSBFDW) </td> <!--证书颁发单位-->
                <td>
                    @Html.TextBoxFor(m => m.ZSBFDW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZSBFDW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZSBFRQ) </td> <!--证书颁发日期-->
                <td>
                    @Html.TextBoxFor(m => m.ZSBFRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZSBFRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZSBZ) </td> <!--证书备注-->
                <td>
                    @Html.TextBoxFor(m => m.ZSBZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZSBZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFSZYZGZS) </td> <!--是否是职业资格证书-->
                <td>
                    @Html.DropDownListFor(m => m.SFSZYZGZS, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFSZYZGZS)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/jzgzynl/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
