@model HanRuEdu.LDAL.EDU_ZZJG_07_01_JZGZYNL
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/JZGZYNL/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="JZGJBSJID" width="50" sortable="true">@Html.LabelFor(m => m.JZGJBSJID)</th><!--教职工ID-->
            <th field="ZSMC" width="50" sortable="true">@Html.LabelFor(m => m.ZSMC)</th><!--证书名称-->
            <th field="ZSBH" width="50" sortable="true">@Html.LabelFor(m => m.ZSBH)</th><!--证书编号-->
            <th field="ZSBFDW" width="50" sortable="true">@Html.LabelFor(m => m.ZSBFDW)</th><!--证书颁发单位-->
            <th field="ZSBFRQ" width="50" sortable="true">@Html.LabelFor(m => m.ZSBFRQ)</th><!--证书颁发日期-->
            <th field="ZSBZ" width="50" sortable="true">@Html.LabelFor(m => m.ZSBZ)</th><!--证书备注-->
            <th field="SFSZYZGZS" width="50" sortable="true">@Html.LabelFor(m => m.SFSZYZGZS)</th><!--是否是职业资格证书-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/jzgzynl/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/jzgzynl/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/jzgzynl/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/jzgzynl/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/jzgzynl/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
