@model HanRuEdu.LDAL.EDU_ZZJX_07_A09_SXRZ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--实习日志ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--学生信息ID-->
                <td>
                    @Html.TextBoxFor(m => m.XSXXID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXJHID) </td> <!--实习计划ID-->
                <td>
                    @Html.TextBoxFor(m => m.SXJHID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXJHID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXJDID) </td> <!--实习阶段ID-->
                <td>
                    @Html.TextBoxFor(m => m.SXJDID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXJDID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXZYID) </td> <!--实习周/月表ID-->
                <td>
                    @Html.TextBoxFor(m => m.SXZYID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXZYID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RZBT) </td> <!--日志标题-->
                <td>
                    @Html.TextBoxFor(m => m.RZBT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RZBT)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NR) </td> <!--内容-->
                <td>
                    @Html.TextBoxFor(m => m.NR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.NR)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/sxrz/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
