@model HanRuEdu.LDAL.EDU_JPXT_03_01_XYSJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XYSJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="XM" width="50" sortable="true">@Html.LabelFor(m => m.XM)</th><!--姓名-->
            <th field="SFZH" width="50" sortable="true">@Html.LabelFor(m => m.SFZH)</th><!--身份证号-->
            <th field="XBM" width="50" sortable="true">@Html.LabelFor(m => m.XBM)</th><!--性别码-->
            <th field="LXDH" width="50" sortable="true">@Html.LabelFor(m => m.LXDH)</th><!--联系电话-->
            <th field="ZZ" width="50" sortable="true">@Html.LabelFor(m => m.ZZ)</th><!--住址-->
            <th field="BMSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.BMSJ)</th><!--报名时间-->
            <th field="SFQK" width="50" sortable="true">@Html.LabelFor(m => m.SFQK)</th><!--缴费情况-->
            <th field="SXCXID" width="50" sortable="true">@Html.LabelFor(m => m.SXCXID)</th><!--所选车型ID-->
            <th field="ZJQK" width="50" sortable="true">@Html.LabelFor(m => m.ZJQK)</th><!--增加情况-->
            <th field="SZJLCID" width="50" sortable="true">@Html.LabelFor(m => m.SZJLCID)</th><!--所属教练员ID-->
            <th field="YJJLYID" width="50" sortable="true">@Html.LabelFor(m => m.YJJLYID)</th><!--引荐教练员ID-->
            <th field="DQZT" width="50" sortable="true">@Html.LabelFor(m => m.DQZT)</th><!--当前状态-->
            <th field="BYSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.BYSJ)</th><!--毕业时间-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xysj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xysj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xysj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xysj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xysj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
