@model HanRuEdu.LDAL.EDU_ZZJX_07_A01_XXSXJH
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/XXSXJH/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--实习计划ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="JHBT" width="50" sortable="true">@Html.LabelFor(m => m.JHBT)</th><!--计划标题-->
            <th field="NJ" width="50" sortable="true">@Html.LabelFor(m => m.NJ)</th><!--年级-->
            <th field="BGXS" width="50" sortable="true">@Html.LabelFor(m => m.BGXS)</th><!--报告形式-->
            <th field="SFSX" width="50" sortable="true">@Html.LabelFor(m => m.SFSX)</th><!--计划是否生效-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/xxsxjh/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/xxsxjh/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/xxsxjh/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/xxsxjh/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/xxsxjh/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
