@model HanRuEdu.LDAL.EDU_ZZFC_08_A01_SSCW
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/SSCW/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--床位ID-->
            <th field="SSLID" width="50" sortable="true">@Html.LabelFor(m => m.SSLID)</th><!--宿舍楼ID-->
            <th field="SSID" width="50" sortable="true">@Html.LabelFor(m => m.SSID)</th><!--宿舍ID-->
            <th field="CWM" width="50" sortable="true">@Html.LabelFor(m => m.CWM)</th><!--床位名-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
            <th field="SFRZ" width="50" sortable="true">@Html.LabelFor(m => m.SFRZ)</th><!--是否入住-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/sscw/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/sscw/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/sscw/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/sscw/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/sscw/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
