@model HanRuEdu.LDAL.EDU_ZXDY_04_A04_GWFPMB
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/GWFPMB/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--岗位分配模板表ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="MBMC" width="50" sortable="true">@Html.LabelFor(m => m.MBMC)</th><!--模板名称-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/gwfpmb/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/gwfpmb/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/gwfpmb/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/gwfpmb/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/gwfpmb/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
