@model HanRuEdu.LDAL.EDU_ZZXX_01_01_ZZXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/ZZXX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="XXDM" width="50" sortable="true">@Html.LabelFor(m => m.XXDM)</th><!--学校代码-->
            <th field="XXMC" width="50" sortable="true">@Html.LabelFor(m => m.XXMC)</th><!--学校名称-->
            <th field="XXYWMC" width="50" sortable="true">@Html.LabelFor(m => m.XXYWMC)</th><!--学校英文名称-->
            <th field="XXJBZM" width="50" sortable="true">@Html.LabelFor(m => m.XXJBZM)</th><!--学校举办者码-->
            <th field="XXZGBMM" width="50" sortable="true">@Html.LabelFor(m => m.XXZGBMM)</th><!--学校主管部门码-->
            <th field="XXDZ" width="50" sortable="true">@Html.LabelFor(m => m.XXDZ)</th><!--学校地址-->
            <th field="XXYZBM" width="50" sortable="true">@Html.LabelFor(m => m.XXYZBM)</th><!--学校邮政编码-->
            <th field="XZQHM" width="50" sortable="true">@Html.LabelFor(m => m.XZQHM)</th><!--行政区划码-->
            <th field="JXNY" width="50" sortable="true">@Html.LabelFor(m => m.JXNY)</th><!--建校年月-->
            <th field="XQR" width="50" sortable="true">@Html.LabelFor(m => m.XQR)</th><!--校庆日-->
            <th field="CLBJ" width="50" sortable="true">@Html.LabelFor(m => m.CLBJ)</th><!--成立背景-->
            <th field="LSYG" width="50" sortable="true">@Html.LabelFor(m => m.LSYG)</th><!--历史沿革-->
            <th field="XXXQS" width="50" sortable="true">@Html.LabelFor(m => m.XXXQS)</th><!--学校校区数-->
            <th field="XXPGLX" width="50" sortable="true">@Html.LabelFor(m => m.XXPGLX)</th><!--学校评估类型-->
            <th field="XXPGQKSM" width="50" sortable="true">@Html.LabelFor(m => m.XXPGQKSM)</th><!--学校评估情况说明-->
            <th field="ZYDZ" width="50" sortable="true">@Html.LabelFor(m => m.ZYDZ)</th><!--主页地址-->
            <th field="FDDBRH" width="50" sortable="true">@Html.LabelFor(m => m.FDDBRH)</th><!--法定代表人号-->
            <th field="FRZSH" width="50" sortable="true">@Html.LabelFor(m => m.FRZSH)</th><!--法人证书号-->
            <th field="LXDH" width="50" sortable="true">@Html.LabelFor(m => m.LXDH)</th><!--联系电话-->
            <th field="CZDH" width="50" sortable="true">@Html.LabelFor(m => m.CZDH)</th><!--传真电话-->
            <th field="DZXX" width="50" sortable="true">@Html.LabelFor(m => m.DZXX)</th><!--电子信箱-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/zzxx/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/zzxx/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/zzxx/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/zzxx/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/zzxx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
