@model HanRuEdu.LDAL.EDU_ZZXX_03_01_XNJG
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGH) </td> <!--机构号-->
                <td>
                    @Html.TextBoxFor(m => m.JGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGMC) </td> <!--机构名称-->
                <td>
                    @Html.TextBoxFor(m => m.JGMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGYWMC) </td> <!--机构英文名称-->
                <td>
                    @Html.TextBoxFor(m => m.JGYWMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGYWMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGJC) </td> <!--机构简称-->
                <td>
                    @Html.TextBoxFor(m => m.JGJC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGJC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGJP) </td> <!--机构简拼-->
                <td>
                    @Html.TextBoxFor(m => m.JGJP, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGJP)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGDZ) </td> <!--机构地址-->
                <td>
                    @Html.TextBoxFor(m => m.JGDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LSSJJGH) </td> <!--隶属上级机构号-->
                <td>
                    @Html.DropDownListFor(m => m.LSSJJGH, ViewBag.ZZXX_03Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.LSSJJGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LSXQH) </td> <!--隶属校区号-->
                <td>
                    @Html.TextBoxFor(m => m.LSXQH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LSXQH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGYXBS) </td> <!--机构有效标识-->
                <td>
                    @Html.DropDownListFor(m => m.JGYXBS, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.JGYXBS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFST) </td> <!--是否实体-->
                <td>
                    @Html.DropDownListFor(m => m.SFST, ViewBag.JY_SFBZLst as SelectList)
                    @Html.ValidationMessageFor(m => m.SFST)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JLNY) </td> <!--建立年月-->
                <td>
                    @Html.TextBoxFor(m => m.JLNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JLNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JGYZBM) </td> <!--机构邮政编码-->
                <td>
                    @Html.TextBoxFor(m => m.JGYZBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JGYZBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FZRH) </td> <!--负责人号-->
                <td>
                    @Html.TextBoxFor(m => m.FZRH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FZRH)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/xnjg/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
