@model HanRuEdu.LDAL.EDU_ZZJX_07_A02_XXSXJD
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XXSXJD/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--实习阶段ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="SXJHID" width="50" sortable="true">@Html.LabelFor(m => m.SXJHID)</th><!--实习计划ID-->
            <th field="JDM" width="50" sortable="true">@Html.LabelFor(m => m.JDM)</th><!--阶段名-->
            <th field="JDKSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.JDKSSJ)</th><!--阶段开始时间-->
            <th field="JDJSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.JDJSSJ)</th><!--阶段结束时间-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xxsxjd/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xxsxjd/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xxsxjd/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xxsxjd/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xxsxjd/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
