@model HanRuEdu.LDAL.EDU_ZZJX_01_02_KC
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCH) </td> <!--课程号-->
                <td>
                    @Html.TextBoxFor(m => m.KCH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCMC) </td> <!--课程名称-->
                <td>
                    @Html.TextBoxFor(m => m.KCMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCYWM) </td> <!--课程英文名-->
                <td>
                    @Html.TextBoxFor(m => m.KCYWM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCYWM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCBM) </td> <!--课程别名-->
                <td>
                    @Html.TextBoxFor(m => m.KCBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCJS) </td> <!--课程介绍-->
                <td>
                    @Html.TextBoxFor(m => m.KCJS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCJS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XF) </td> <!--学分-->
                <td>
                    @Html.TextBoxFor(m => m.XF, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XF)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZXS) </td> <!--总学时-->
                <td>
                    @Html.TextBoxFor(m => m.ZXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LLXS) </td> <!--理论学时-->
                <td>
                    @Html.TextBoxFor(m => m.LLXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LLXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SJXS) </td> <!--实践学时-->
                <td>
                    @Html.TextBoxFor(m => m.SJXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SJXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QTXS) </td> <!--其他学时-->
                <td>
                    @Html.TextBoxFor(m => m.QTXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QTXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CKSM) </td> <!--参考书目-->
                <td>
                    @Html.TextBoxFor(m => m.CKSM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CKSM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KKDW) </td> <!--开课单位-->
                <td>
                    @Html.TextBoxFor(m => m.KKDW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KKDW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KSXS) </td> <!--考试形式-->
                <td>
                    @Html.TextBoxFor(m => m.KSXS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KSXS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SKFSM) </td> <!--授课方式码-->
                <td>
                    @Html.TextBoxFor(m => m.SKFSM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SKFSM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KCFY) </td> <!--课程费用-->
                <td>
                    @Html.TextBoxFor(m => m.KCFY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KCFY)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/kc/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
