@model HanRuEdu.LDAL.EDU_ZZJX_07_A06_XQHD
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--校企互动信息ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QYID) </td> <!--企业ID-->
                <td>
                    @Html.TextBoxFor(m => m.QYID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QYID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXJY) </td> <!--企业对学校工作建议-->
                <td>
                    @Html.TextBoxFor(m => m.XXJY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXJY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSJY) </td> <!--企业对学生职业技能建议-->
                <td>
                    @Html.TextBoxFor(m => m.XSJY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSJY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GLJY) </td> <!--实习生管理工作的建议-->
                <td>
                    @Html.TextBoxFor(m => m.GLJY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GLJY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QTJY) </td> <!--其他建议-->
                <td>
                    @Html.TextBoxFor(m => m.QTJY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QTJY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FKNR) </td> <!--反馈内容-->
                <td>
                    @Html.TextBoxFor(m => m.FKNR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FKNR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FKSJ) </td> <!--反馈时间-->
                <td>
                    @Html.TextBoxFor(m => m.FKSJ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FKSJ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/xqhd/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
