@model HanRuEdu.LDAL.EDU_ZYZX_MHXT_WZLM
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/WZLM/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--网站栏目（导航）ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WEBID" width="50" sortable="true">@Html.LabelFor(m => m.WEBID)</th><!--网站ID-->
            <th field="LMSHOWSTYLE" width="50" sortable="true">@Html.LabelFor(m => m.LMSHOWSTYLE)</th><!--栏目使用类型-->
            <th field="NAME" width="50" sortable="true">@Html.LabelFor(m => m.NAME)</th><!--栏目名称-->
            <th field="URL" width="50" sortable="true">@Html.LabelFor(m => m.URL)</th><!--栏目链接-->
            <th field="IMAGEURL" width="50" sortable="true">@Html.LabelFor(m => m.IMAGEURL)</th><!--图片链接-->
            <th field="DEPTH" width="50" sortable="true">@Html.LabelFor(m => m.DEPTH)</th><!--层级-->
            <th field="PID" width="50" sortable="true">@Html.LabelFor(m => m.PID)</th><!--父目录-->
            <th field="LISTSHOWSTYLE" width="50" sortable="true">@Html.LabelFor(m => m.LISTSHOWSTYLE)</th><!--列表显示型式-->
            <th field="ORDERTYPE" width="50" sortable="true">@Html.LabelFor(m => m.ORDERTYPE)</th><!--排序方式-->
            <th field="SHOWNUMBER" width="50" sortable="true">@Html.LabelFor(m => m.SHOWNUMBER)</th><!--显示个数-->
            <th field="OPENFLAG" width="50" sortable="true">@Html.LabelFor(m => m.OPENFLAG)</th><!--开启状态-->
            <th field="LLQX" width="50" sortable="true">@Html.LabelFor(m => m.LLQX)</th><!--浏览权限-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/wzlm/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/wzlm/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/wzlm/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/wzlm/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/wzlm/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
