@model HanRuEdu.LDAL.EDU_ZYZX_TPXT_TPXX
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--投票题目选项ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WEBID) </td> <!--网站ID-->
                <td>
                    @Html.DropDownListFor(m => m.WEBID, ViewBag.ZYZX_MHXTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.WEBID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TPID) </td> <!--投票-->
                <td>
                    @Html.DropDownListFor(m => m.TPID, ViewBag.ZYZX_TPXTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.TPID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TMID) </td> <!--投票题目-->
                <td>
                    @Html.DropDownListFor(m => m.TMID, ViewBag.ZYZX_TPXTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.TMID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TITLE) </td> <!--标题-->
                <td>
                    @Html.TextBoxFor(m => m.TITLE, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TITLE)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SUMTP) </td> <!--已选人数-->
                <td>
                    @Html.TextBoxFor(m => m.SUMTP, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SUMTP)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/tpxx/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
