@model HanRuEdu.LDAL.EDU_ZZBG_06_01_WJJQ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WJID) </td> <!--文件ID-->
                <td>
                    @Html.TextBoxFor(m => m.WJID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYSPRID) </td> <!--借阅审批人ID-->
                <td>
                    @Html.TextBoxFor(m => m.JYSPRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYSPRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYJBRID) </td> <!--借阅经办人ID-->
                <td>
                    @Html.TextBoxFor(m => m.JYJBRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYJBRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYR) </td> <!--借阅人-->
                <td>
                    @Html.TextBoxFor(m => m.JYR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYRQ) </td> <!--借阅日期-->
                <td>
                    @Html.TextBoxFor(m => m.JYRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYSPRGH) </td> <!--借阅审批人工号-->
                <td>
                    @Html.TextBoxFor(m => m.JYSPRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYSPRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYJBRGH) </td> <!--借阅经办人工号-->
                <td>
                    @Html.TextBoxFor(m => m.JYJBRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYJBRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYYY) </td> <!--借阅原因-->
                <td>
                    @Html.TextBoxFor(m => m.JYYY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYYY)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/wjjq/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
