@model HanRuEdu.LDAL.EDU_ZZZS_01_01_ZSXX
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--学生信息数据表-->
                <td>
                    @Html.TextBoxFor(m => m.XSXXID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZKZH) </td> <!--准考证号-->
                <td>
                    @Html.TextBoxFor(m => m.ZKZH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZKZH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KSH) </td> <!--考生号-->
                <td>
                    @Html.TextBoxFor(m => m.KSH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KSH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KQXZQHM) </td> <!--考区行政区划码-->
                <td>
                    @Html.TextBoxFor(m => m.KQXZQHM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KQXZQHM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RXNY) </td> <!--入学年月-->
                <td>
                    @Html.TextBoxFor(m => m.RXNY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RXNY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YSWGYZM) </td> <!--应试外国语种码-->
                <td>
                    @Html.TextBoxFor(m => m.YSWGYZM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YSWGYZM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BKZYM1) </td> <!--报考专业码1-->
                <td>
                    @Html.TextBoxFor(m => m.BKZYM1, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BKZYM1)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BKZYM2) </td> <!--报考专业码2-->
                <td>
                    @Html.TextBoxFor(m => m.BKZYM2, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BKZYM2)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BKZYM3) </td> <!--报考专业码3-->
                <td>
                    @Html.TextBoxFor(m => m.BKZYM3, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BKZYM3)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BKZYM4) </td> <!--报考专业码4-->
                <td>
                    @Html.TextBoxFor(m => m.BKZYM4, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BKZYM4)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BKZYM5) </td> <!--报考专业码5-->
                <td>
                    @Html.TextBoxFor(m => m.BKZYM5, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BKZYM5)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BKZYM6) </td> <!--报考专业码6-->
                <td>
                    @Html.TextBoxFor(m => m.BKZYM6, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BKZYM6)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KSFSM) </td> <!--考试方式码-->
                <td>
                    @Html.TextBoxFor(m => m.KSFSM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KSFSM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BYZX) </td> <!--毕业中学-->
                <td>
                    @Html.TextBoxFor(m => m.BYZX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BYZX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BYZXYZBM) </td> <!--毕业中学邮政编码-->
                <td>
                    @Html.TextBoxFor(m => m.BYZXYZBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BYZXYZBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KSTC) </td> <!--考生特长-->
                <td>
                    @Html.TextBoxFor(m => m.KSTC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KSTC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JLYCC) </td> <!--奖励与惩处-->
                <td>
                    @Html.TextBoxFor(m => m.JLYCC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JLYCC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSHJ) </td> <!--竞赛获奖-->
                <td>
                    @Html.TextBoxFor(m => m.JSHJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSHJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SHGZ) </td> <!--社会工作-->
                <td>
                    @Html.TextBoxFor(m => m.SHGZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SHGZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TJJL) </td> <!--体检结论-->
                <td>
                    @Html.TextBoxFor(m => m.TJJL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TJJL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JZBS) </td> <!--家族病史-->
                <td>
                    @Html.TextBoxFor(m => m.JZBS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JZBS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KSJWBS) </td> <!--考生既往病史-->
                <td>
                    @Html.TextBoxFor(m => m.KSJWBS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KSJWBS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SG) </td> <!--身高-->
                <td>
                    @Html.TextBoxFor(m => m.SG, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SG)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.KSSL) </td> <!--考生视力-->
                <td>
                    @Html.TextBoxFor(m => m.KSSL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.KSSL)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/zsxx/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
