@model HanRuEdu.LDAL.EDU_ZZZS_01_01_ZSXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/ZSXX/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生信息数据表-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="ZKZH" width="50" sortable="true">@Html.LabelFor(m => m.ZKZH)</th><!--准考证号-->
            <th field="KSH" width="50" sortable="true">@Html.LabelFor(m => m.KSH)</th><!--考生号-->
            <th field="KQXZQHM" width="50" sortable="true">@Html.LabelFor(m => m.KQXZQHM)</th><!--考区行政区划码-->
            <th field="RXNY" width="50" sortable="true">@Html.LabelFor(m => m.RXNY)</th><!--入学年月-->
            <th field="YSWGYZM" width="50" sortable="true">@Html.LabelFor(m => m.YSWGYZM)</th><!--应试外国语种码-->
            <th field="BKZYM1" width="50" sortable="true">@Html.LabelFor(m => m.BKZYM1)</th><!--报考专业码1-->
            <th field="BKZYM2" width="50" sortable="true">@Html.LabelFor(m => m.BKZYM2)</th><!--报考专业码2-->
            <th field="BKZYM3" width="50" sortable="true">@Html.LabelFor(m => m.BKZYM3)</th><!--报考专业码3-->
            <th field="BKZYM4" width="50" sortable="true">@Html.LabelFor(m => m.BKZYM4)</th><!--报考专业码4-->
            <th field="BKZYM5" width="50" sortable="true">@Html.LabelFor(m => m.BKZYM5)</th><!--报考专业码5-->
            <th field="BKZYM6" width="50" sortable="true">@Html.LabelFor(m => m.BKZYM6)</th><!--报考专业码6-->
            <th field="KSFSM" width="50" sortable="true">@Html.LabelFor(m => m.KSFSM)</th><!--考试方式码-->
            <th field="BYZX" width="50" sortable="true">@Html.LabelFor(m => m.BYZX)</th><!--毕业中学-->
            <th field="BYZXYZBM" width="50" sortable="true">@Html.LabelFor(m => m.BYZXYZBM)</th><!--毕业中学邮政编码-->
            <th field="KSTC" width="50" sortable="true">@Html.LabelFor(m => m.KSTC)</th><!--考生特长-->
            <th field="JLYCC" width="50" sortable="true">@Html.LabelFor(m => m.JLYCC)</th><!--奖励与惩处-->
            <th field="JSHJ" width="50" sortable="true">@Html.LabelFor(m => m.JSHJ)</th><!--竞赛获奖-->
            <th field="SHGZ" width="50" sortable="true">@Html.LabelFor(m => m.SHGZ)</th><!--社会工作-->
            <th field="TJJL" width="50" sortable="true">@Html.LabelFor(m => m.TJJL)</th><!--体检结论-->
            <th field="JZBS" width="50" sortable="true">@Html.LabelFor(m => m.JZBS)</th><!--家族病史-->
            <th field="KSJWBS" width="50" sortable="true">@Html.LabelFor(m => m.KSJWBS)</th><!--考生既往病史-->
            <th field="SG" width="50" sortable="true">@Html.LabelFor(m => m.SG)</th><!--身高-->
            <th field="KSSL" width="50" sortable="true">@Html.LabelFor(m => m.KSSL)</th><!--考生视力-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzzs/zsxx/create");
    ViewData["index_edit"] = Url.Content("~/zzzs/zsxx/edit");
    //ViewData["index_detail"] = Url.Content("~/zzzs/zsxx/details";)
    //ViewData["index_del"] = Url.Content("~/zzzs/zsxx/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzzs/zsxx/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
