@model HanRuEdu.LDAL.EDU_OAXT_02_02_WJYB
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WJID) </td> <!--文件ID-->
                <td>
                    @Html.DropDownListFor(m => m.WJID, ViewBag.OAXT_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.WJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBRID) </td> <!--阅办人ID-->
                <td>
                    @Html.DropDownListFor(m => m.YBRID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.YBRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBLBM) </td> <!--阅办类别码-->
                <td>
                    @Html.DropDownListFor(m => m.YBLBM, ViewBag.JY_YBLBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.YBLBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBJB) </td> <!--阅办级别-->
                <td>
                    @Html.TextBoxFor(m => m.YBJB, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YBJB)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBDW) </td> <!--阅办单位-->
                <td>
                    @Html.TextBoxFor(m => m.YBDW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YBDW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBDWBH) </td> <!--阅办单位编号-->
                <td>
                    @Html.TextBoxFor(m => m.YBDWBH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YBDWBH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBRGH) </td> <!--阅办人工号-->
                <td>
                    @Html.TextBoxFor(m => m.YBRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YBRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBYJ) </td> <!--阅办意见-->
                <td>
                    @Html.TextBoxFor(m => m.YBYJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YBYJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YBRQ) </td> <!--阅办日期-->
                <td>
                    @Html.TextBoxFor(m => m.YBRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YBRQ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/wjyb/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
