@model HanRuEdu.LDAL.EDU_ZYZX_TPXT_TPSZ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--投票设置ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WEBID) </td> <!--网站ID-->
                <td>
                    @Html.DropDownListFor(m => m.WEBID, ViewBag.ZYZX_MHXTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.WEBID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TITLE) </td> <!--标题-->
                <td>
                    @Html.TextBoxFor(m => m.TITLE, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TITLE)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CONTENT) </td> <!--内容-->
                <td>
                    @Html.TextBoxFor(m => m.CONTENT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CONTENT)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SHOWSTYLEID) </td> <!--显示方式-->
                <td>
                    @Html.TextBoxFor(m => m.SHOWSTYLEID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SHOWSTYLEID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CSSID) </td> <!--显示样式-->
                <td>
                    @Html.DropDownListFor(m => m.CSSID, ViewBag.ZYZX_TPXTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.CSSID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LOGINNAMELIST) </td> <!--投票人-->
                <td>
                    @Html.TextBoxFor(m => m.LOGINNAMELIST, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LOGINNAMELIST)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.STARTSTATU) </td> <!--是否开启-->
                <td>
                    @Html.TextBoxFor(m => m.STARTSTATU, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.STARTSTATU)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/tpsz/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
