@model HanRuEdu.LDAL.EDU_ZZJX_07_A08_SXTS
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/SXTS/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--实习投诉ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="QYID" width="50" sortable="true">@Html.LabelFor(m => m.QYID)</th><!--企业ID-->
            <th field="SXJHID" width="50" sortable="true">@Html.LabelFor(m => m.SXJHID)</th><!--实习计划ID-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--投诉学生ID-->
            <th field="TSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.TSSJ)</th><!--投诉时间-->
            <th field="TSYY" width="50" sortable="true">@Html.LabelFor(m => m.TSYY)</th><!--投诉原因-->
            <th field="TSJG" width="50" sortable="true">@Html.LabelFor(m => m.TSJG)</th><!--投诉结果-->
            <th field="QYJY" width="50" sortable="true">@Html.LabelFor(m => m.QYJY)</th><!--企业建议-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/sxts/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/sxts/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/sxts/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/sxts/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/sxts/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
