@model HanRuEdu.LDAL.EDU_JPXT_02_01_JLYSJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XM) </td> <!--姓名-->
                <td>
                    @Html.TextBoxFor(m => m.XM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XBM) </td> <!--性别码-->
                <td>
                    @Html.DropDownListFor(m => m.XBM, ViewBag.GB_RDXBLst as SelectList)
                    @Html.ValidationMessageFor(m => m.XBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFZH) </td> <!--身份证号-->
                <td>
                    @Html.TextBoxFor(m => m.SFZH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SFZH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSZH) </td> <!--驾驶证号-->
                <td>
                    @Html.TextBoxFor(m => m.JSZH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSZH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSZYXQ) </td> <!--驾驶证有效期-->
                <td>
                    @Html.TextBoxFor(m => m.JSZYXQ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSZYXQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JLZH) </td> <!--教练证号-->
                <td>
                    @Html.TextBoxFor(m => m.JLZH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JLZH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JLZYXQ) </td> <!--教练证有效期-->
                <td>
                    @Html.TextBoxFor(m => m.JLZYXQ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JLZYXQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XL) </td> <!--学历-->
                <td>
                    @Html.TextBoxFor(m => m.XL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZC) </td> <!--职称-->
                <td>
                    @Html.TextBoxFor(m => m.ZC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JXSJ) </td> <!--进校时间-->
                <td>
                    @Html.TextBoxFor(m => m.JXSJ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JXSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LXDH) </td> <!--联系电话-->
                <td>
                    @Html.TextBoxFor(m => m.LXDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LXDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZZ) </td> <!--住址-->
                <td>
                    @Html.TextBoxFor(m => m.ZZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSDJ) </td> <!--技术等级-->
                <td>
                    @Html.TextBoxFor(m => m.JSDJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSDJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCHYXM) </td> <!--家庭成员一姓名-->
                <td>
                    @Html.TextBoxFor(m => m.JTCHYXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCHYXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYYGX) </td> <!--家庭成员一关系-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYYGX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYYGX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYYXBM) </td> <!--家庭成员一性别码-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYYXBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYYXBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYYCSRQ) </td> <!--家庭成员一出生日期-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYYCSRQ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYYCSRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYYZZ) </td> <!--家庭成员一住址-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYYZZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYYZZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYYLXDH) </td> <!--家庭成员一联系电话-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYYLXDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYYLXDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYYCSGZ) </td> <!--家庭成员一从事工作-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYYCSGZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYYCSGZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYEXM) </td> <!--家庭成员二姓名-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYEXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYEXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYEGX) </td> <!--家庭成员二关系-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYEGX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYEGX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYEXBM) </td> <!--家庭成员二性别码-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYEXBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYEXBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYECSRQ) </td> <!--家庭成员二出生日期-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYECSRQ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYECSRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYEZZ) </td> <!--家庭成员二住址-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYEZZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYEZZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYELXDH) </td> <!--家庭成员二联系电话-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYELXDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYELXDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JTCYECSGZ) </td> <!--家庭成员二从事工作-->
                <td>
                    @Html.TextBoxFor(m => m.JTCYECSGZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JTCYECSGZ)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/jlysj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
