@model HanRuEdu.LDAL.EDU_ZZXS_02_A01_XSLXR
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--编号-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--学生信息数据表-->
                <td>
                    @Html.TextBoxFor(m => m.XSXXID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GXM) </td> <!--关系码-->
                <td>
                    @Html.DropDownListFor(m => m.GXM, ViewBag.GB_JTGXLst as SelectList)
                    @Html.ValidationMessageFor(m => m.GXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LXRXM) </td> <!--联系人姓名-->
                <td>
                    @Html.TextBoxFor(m => m.LXRXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LXRXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YZBM) </td> <!--邮政编码-->
                <td>
                    @Html.TextBoxFor(m => m.YZBM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YZBM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.TXDZ) </td> <!--通信地址-->
                <td>
                    @Html.TextBoxFor(m => m.TXDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.TXDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DH) </td> <!--电话-->
                <td>
                    @Html.TextBoxFor(m => m.DH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YDDH) </td> <!--移动电话-->
                <td>
                    @Html.TextBoxFor(m => m.YDDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YDDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CZDH) </td> <!--传真电话-->
                <td>
                    @Html.TextBoxFor(m => m.CZDH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CZDH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DZXX) </td> <!--电子信箱-->
                <td>
                    @Html.TextBoxFor(m => m.DZXX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DZXX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WLDZ) </td> <!--网络地址-->
                <td>
                    @Html.TextBoxFor(m => m.WLDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WLDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JSTXH) </td> <!--即时通讯号-->
                <td>
                    @Html.TextBoxFor(m => m.JSTXH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JSTXH)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/xslxr/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
