@model HanRuEdu.LDAL.EDU_ELE_01_APP
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/APP/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--应用ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="NAME" width="50" sortable="true">@Html.LabelFor(m => m.NAME)</th><!--应用名称-->
            <th field="URL" width="50" sortable="true">@Html.LabelFor(m => m.URL)</th><!--网址-->
            <th field="AUTHIP" width="50" sortable="true">@Html.LabelFor(m => m.AUTHIP)</th><!--限用IP-->
            <th field="SM" width="50" sortable="true">@Html.LabelFor(m => m.SM)</th><!--说明-->
            <th field="DLFS" width="50" sortable="true">@Html.LabelFor(m => m.DLFS)</th><!--登录方式-->
            <th field="STATUS" width="50" sortable="true">@Html.LabelFor(m => m.STATUS)</th><!--应用状态-->
            <th field="TYPE" width="50" sortable="true">@Html.LabelFor(m => m.TYPE)</th><!--应用类别-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/app/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/app/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/app/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/app/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/app/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
