@model HanRuEdu.LDAL.EDU_ZZJG_01_A01_JZGKZ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JZGJBSJID) </td> <!--教工基本信息ID-->
                <td>
                    @Html.TextBoxFor(m => m.JZGJBSJID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JZGJBSJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JL) </td> <!--教龄-->
                <td>
                    @Html.TextBoxFor(m => m.JL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GL) </td> <!--工龄-->
                <td>
                    @Html.TextBoxFor(m => m.GL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GL)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GZJY) </td> <!--工作经验-->
                <td>
                    @Html.TextBoxFor(m => m.GZJY, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GZJY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LDJN) </td> <!--劳动技能-->
                <td>
                    @Html.TextBoxFor(m => m.LDJN, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LDJN)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XXJL) </td> <!--学习经历-->
                <td>
                    @Html.TextBoxFor(m => m.XXJL, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XXJL)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/jzgkz/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
