@model HanRuEdu.LDAL.EDU_ZXXS_01_01_XSXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/XSXX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="XH" width="50" sortable="true">@Html.LabelFor(m => m.XH)</th><!--学号-->
            <th field="XM" width="50" sortable="true">@Html.LabelFor(m => m.XM)</th><!--姓名-->
            <th field="YWXM" width="50" sortable="true">@Html.LabelFor(m => m.YWXM)</th><!--英文姓名-->
            <th field="XMPY" width="50" sortable="true">@Html.LabelFor(m => m.XMPY)</th><!--姓名拼音-->
            <th field="CYM" width="50" sortable="true">@Html.LabelFor(m => m.CYM)</th><!--曾用名-->
            <th field="XBM" width="50" sortable="true">@Html.LabelFor(m => m.XBM)</th><!--性别码-->
            <th field="CSRQ" width="50" sortable="true">@Html.LabelFor(m => m.CSRQ)</th><!--出生日期-->
            <th field="CSDM" width="50" sortable="true">@Html.LabelFor(m => m.CSDM)</th><!--出生地码-->
            <th field="JG" width="50" sortable="true">@Html.LabelFor(m => m.JG)</th><!--籍贯-->
            <th field="MZM" width="50" sortable="true">@Html.LabelFor(m => m.MZM)</th><!--民族码-->
            <th field="GJDQM" width="50" sortable="true">@Html.LabelFor(m => m.GJDQM)</th><!--国籍/地区码-->
            <th field="SFZJLXM" width="50" sortable="true">@Html.LabelFor(m => m.SFZJLXM)</th><!--身份证件类型码-->
            <th field="SFZJH" width="50" sortable="true">@Html.LabelFor(m => m.SFZJH)</th><!--身份证件号-->
            <th field="HYZKM" width="50" sortable="true">@Html.LabelFor(m => m.HYZKM)</th><!--婚姻状况码-->
            <th field="GATQWM" width="50" sortable="true">@Html.LabelFor(m => m.GATQWM)</th><!--港澳台侨外码-->
            <th field="ZZMMM" width="50" sortable="true">@Html.LabelFor(m => m.ZZMMM)</th><!--政治面貌码-->
            <th field="JKZKM" width="50" sortable="true">@Html.LabelFor(m => m.JKZKM)</th><!--健康状况码-->
            <th field="XYZJM" width="50" sortable="true">@Html.LabelFor(m => m.XYZJM)</th><!--信仰宗教码-->
            <th field="XXM" width="50" sortable="true">@Html.LabelFor(m => m.XXM)</th><!--血型码-->
            <th field="ZP" width="50" sortable="true">@Html.LabelFor(m => m.ZP)</th><!--照片-->
            <th field="SFZJYXQ" width="50" sortable="true">@Html.LabelFor(m => m.SFZJYXQ)</th><!--身份证件有效期-->
            <th field="DSZYBZ" width="50" sortable="true">@Html.LabelFor(m => m.DSZYBZ)</th><!--独生子女标志-->
            <th field="RXNY" width="50" sortable="true">@Html.LabelFor(m => m.RXNY)</th><!--入学年月-->
            <th field="NJ" width="50" sortable="true">@Html.LabelFor(m => m.NJ)</th><!--年级-->
            <th field="BH" width="50" sortable="true">@Html.LabelFor(m => m.BH)</th><!--班号-->
            <th field="XSLBM" width="50" sortable="true">@Html.LabelFor(m => m.XSLBM)</th><!--学生类别码-->
            <th field="XZZ" width="50" sortable="true">@Html.LabelFor(m => m.XZZ)</th><!--现住址-->
            <th field="HKSZD" width="50" sortable="true">@Html.LabelFor(m => m.HKSZD)</th><!--户口所在地-->
            <th field="HKXZM" width="50" sortable="true">@Html.LabelFor(m => m.HKXZM)</th><!--户口性质码-->
            <th field="SFLDRK" width="50" sortable="true">@Html.LabelFor(m => m.SFLDRK)</th><!--是否流动人口-->
            <th field="TC" width="50" sortable="true">@Html.LabelFor(m => m.TC)</th><!--特长-->
            <th field="LXDH" width="50" sortable="true">@Html.LabelFor(m => m.LXDH)</th><!--联系电话-->
            <th field="TXDZ" width="50" sortable="true">@Html.LabelFor(m => m.TXDZ)</th><!--通信地址-->
            <th field="YZBM" width="50" sortable="true">@Html.LabelFor(m => m.YZBM)</th><!--邮政编码-->
            <th field="DZXX" width="50" sortable="true">@Html.LabelFor(m => m.DZXX)</th><!--电子信箱-->
            <th field="ZYDZ" width="50" sortable="true">@Html.LabelFor(m => m.ZYDZ)</th><!--主页地址-->
            <th field="XJH" width="50" sortable="true">@Html.LabelFor(m => m.XJH)</th><!--学籍号-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/xsxx/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/xsxx/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/xsxx/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/xsxx/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/xsxx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
