@model HanRuEdu.LDAL.EDU_ZZJX_07_A11_SXJC
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/SXJC/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--奖惩信息ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="SXJHID" width="50" sortable="true">@Html.LabelFor(m => m.SXJHID)</th><!--实习计划ID-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生信息ID-->
            <th field="JCLX" width="50" sortable="true">@Html.LabelFor(m => m.JCLX)</th><!--奖惩类型-->
            <th field="JCRQ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.JCRQ)</th><!--奖惩日期-->
            <th field="CLJG" width="50" sortable="true">@Html.LabelFor(m => m.CLJG)</th><!--处理结果-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
            <th field="TJR" width="50" sortable="true">@Html.LabelFor(m => m.TJR)</th><!--添加人-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/sxjc/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/sxjc/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/sxjc/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/sxjc/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/sxjc/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
