@model HanRuEdu.LDAL.EDU_OAXT_03_01_FWCL
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WJID) </td> <!--文件ID-->
                <td>
                    @Html.TextBoxFor(m => m.WJID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.WJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NGRID) </td> <!--拟稿人ID-->
                <td>
                    @Html.TextBoxFor(m => m.NGRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.NGRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QFRID) </td> <!--签发人ID-->
                <td>
                    @Html.TextBoxFor(m => m.QFRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QFRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DJRID) </td> <!--登记人ID-->
                <td>
                    @Html.TextBoxFor(m => m.DJRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DJRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DZRID) </td> <!--打字人ID-->
                <td>
                    @Html.TextBoxFor(m => m.DZRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DZRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JDRID) </td> <!--校对人ID-->
                <td>
                    @Html.TextBoxFor(m => m.JDRID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JDRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NGRGH) </td> <!--拟稿人工号-->
                <td>
                    @Html.TextBoxFor(m => m.NGRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.NGRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.NGRQ) </td> <!--拟稿日期-->
                <td>
                    @Html.TextBoxFor(m => m.NGRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.NGRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QFRGH) </td> <!--签发人工号-->
                <td>
                    @Html.TextBoxFor(m => m.QFRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QFRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QFRQ) </td> <!--签发日期-->
                <td>
                    @Html.TextBoxFor(m => m.QFRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QFRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FSFW) </td> <!--发送范围-->
                <td>
                    @Html.TextBoxFor(m => m.FSFW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FSFW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FSFSM) </td> <!--发送方式码-->
                <td>
                    @Html.DropDownListFor(m => m.FSFSM, ViewBag.JY_FSFSLst as SelectList)
                    @Html.ValidationMessageFor(m => m.FSFSM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DJRGH) </td> <!--登记人工号-->
                <td>
                    @Html.TextBoxFor(m => m.DJRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DJRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DJRQ) </td> <!--登记日期-->
                <td>
                    @Html.TextBoxFor(m => m.DJRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DJRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FWJS) </td> <!--发文件数-->
                <td>
                    @Html.TextBoxFor(m => m.FWJS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FWJS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GWFWRQ) </td> <!--公文发文日期-->
                <td>
                    @Html.TextBoxFor(m => m.GWFWRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GWFWRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CLQK) </td> <!--处理情况-->
                <td>
                    @Html.TextAreaFor(m => m.CLQK, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @*@Html.MYeWebEditorFor(m=>m.NR, null, new FckConfig { Height = "350", Width = "650", Skin = FckSkin.Default, ToolbarSet = FckToolbarSet.Basic }, Url.Content("~/") )*@
                    @Html.ValidationMessageFor(m => m.CLQK)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DZRGH) </td> <!--打字人工号-->
                <td>
                    @Html.TextBoxFor(m => m.DZRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DZRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JDRGH) </td> <!--校对人工号-->
                <td>
                    @Html.TextBoxFor(m => m.JDRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JDRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FZFSM) </td> <!--封装方式码-->
                <td>
                    @Html.DropDownListFor(m => m.FZFSM, ViewBag.JY_GWFZFSLst as SelectList)
                    @Html.ValidationMessageFor(m => m.FZFSM)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/fwcl/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
