@model HanRuEdu.LDAL.EDU_JPXT_04_01_KMKS
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/KMKS/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--编号-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="KMDM" width="50" sortable="true">@Html.LabelFor(m => m.KMDM)</th><!--科目代码-->
            <th field="KSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.KSSJ)</th><!--考试时间-->
            <th field="BZ" width="50" sortable="true">@Html.LabelFor(m => m.BZ)</th><!--备注-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/kmks/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/kmks/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/kmks/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/kmks/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/kmks/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
