@model HanRuEdu.LDAL.EDU_ZXXS_02_A01_XSJTXX
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/XSJTXX/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="XSXXID" width="50" sortable="true">@Html.LabelFor(m => m.XSXXID)</th><!--学生信息数据表-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="JTZZ" width="50" sortable="true">@Html.LabelFor(m => m.JTZZ)</th><!--家庭住址-->
            <th field="JTYZBM" width="50" sortable="true">@Html.LabelFor(m => m.JTYZBM)</th><!--家庭邮政编码-->
            <th field="JTDH" width="50" sortable="true">@Html.LabelFor(m => m.JTDH)</th><!--家庭电话-->
            <th field="JTLXR" width="50" sortable="true">@Html.LabelFor(m => m.JTLXR)</th><!--家庭联系人-->
            <th field="JTDZXX" width="50" sortable="true">@Html.LabelFor(m => m.JTDZXX)</th><!--家庭电子信箱-->
            <th field="JTRK" width="50" sortable="true">@Html.LabelFor(m => m.JTRK)</th><!--家庭人口-->
            <th field="JTZYSRLY" width="50" sortable="true">@Html.LabelFor(m => m.JTZYSRLY)</th><!--家庭主要收入来源-->
            <th field="JTYSRJE" width="50" sortable="true">@Html.LabelFor(m => m.JTYSRJE)</th><!--家庭月收入金额-->
            <th field="JTNSRJE" width="50" sortable="true">@Html.LabelFor(m => m.JTNSRJE)</th><!--家庭年收入金额-->
            <th field="LJZJHCZ" width="50" sortable="true">@Html.LabelFor(m => m.LJZJHCZ)</th><!--离家最近火车站-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/xsjtxx/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/xsjtxx/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/xsjtxx/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/xsjtxx/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/xsjtxx/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
