@model HanRuEdu.LDAL.EDU_OAXT_02_01_SWCL
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WJID) </td> <!--文件ID-->
                <td>
                    @Html.DropDownListFor(m => m.WJID, ViewBag.OAXT_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.WJID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QSRID) </td> <!--签收人ID-->
                <td>
                    @Html.DropDownListFor(m => m.QSRID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.QSRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CFRID) </td> <!--拆封人ID-->
                <td>
                    @Html.DropDownListFor(m => m.CFRID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.CFRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DJRID) </td> <!--登记人ID-->
                <td>
                    @Html.DropDownListFor(m => m.DJRID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.DJRID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QSRGH) </td> <!--签收人工号-->
                <td>
                    @Html.TextBoxFor(m => m.QSRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QSRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CFRGH) </td> <!--拆封人工号-->
                <td>
                    @Html.TextBoxFor(m => m.CFRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CFRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.DJRGH) </td> <!--登记人工号-->
                <td>
                    @Html.TextBoxFor(m => m.DJRGH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.DJRGH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SWRQ) </td> <!--收文日期-->
                <td>
                    @Html.TextBoxFor(m => m.SWRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SWRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.LWDW) </td> <!--来文单位-->
                <td>
                    @Html.TextBoxFor(m => m.LWDW, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.LWDW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FS) </td> <!--份数-->
                <td>
                    @Html.TextBoxFor(m => m.FS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CLQK) </td> <!--处理情况-->
                <td>
                    @Html.TextBoxFor(m => m.CLQK, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.CLQK)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.FYFS) </td> <!--翻印份数-->
                <td>
                    @Html.TextBoxFor(m => m.FYFS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.FYFS)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/swcl/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
