@model HanRuEdu.LDAL.EDU_OAXT_02_01_SWCL
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/SWCL/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="WJID" width="50" sortable="true">@Html.LabelFor(m => m.WJID)</th><!--文件ID-->
            <th field="QSRID" width="50" sortable="true">@Html.LabelFor(m => m.QSRID)</th><!--签收人ID-->
            <th field="CFRID" width="50" sortable="true">@Html.LabelFor(m => m.CFRID)</th><!--拆封人ID-->
            <th field="DJRID" width="50" sortable="true">@Html.LabelFor(m => m.DJRID)</th><!--登记人ID-->
            <th field="QSRGH" width="50" sortable="true">@Html.LabelFor(m => m.QSRGH)</th><!--签收人工号-->
            <th field="CFRGH" width="50" sortable="true">@Html.LabelFor(m => m.CFRGH)</th><!--拆封人工号-->
            <th field="DJRGH" width="50" sortable="true">@Html.LabelFor(m => m.DJRGH)</th><!--登记人工号-->
            <th field="SWRQ" width="50" sortable="true">@Html.LabelFor(m => m.SWRQ)</th><!--收文日期-->
            <th field="LWDW" width="50" sortable="true">@Html.LabelFor(m => m.LWDW)</th><!--来文单位-->
            <th field="FS" width="50" sortable="true">@Html.LabelFor(m => m.FS)</th><!--份数-->
            <th field="CLQK" width="50" sortable="true">@Html.LabelFor(m => m.CLQK)</th><!--处理情况-->
            <th field="FYFS" width="50" sortable="true">@Html.LabelFor(m => m.FYFS)</th><!--翻印份数-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/swcl/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/swcl/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/swcl/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/swcl/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/swcl/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
