@model HanRuEdu.LDAL.EDU_WZXT_MHXT_WZPJ
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--评价ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WEBID) </td> <!--网站ID-->
                <td>
                    @Html.DropDownListFor(m => m.WEBID, ViewBag.WZXT_MHXTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.WEBID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.WZID) </td> <!--网站文章ID-->
                <td>
                    @Html.DropDownListFor(m => m.WZID, ViewBag.WZXT_MHXTLst as SelectList)
                    @Html.ValidationMessageFor(m => m.WZID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PJR) </td> <!--评价人-->
                <td>
                    @Html.TextBoxFor(m => m.PJR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PJR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YJDZ) </td> <!--邮件地址-->
                <td>
                    @Html.TextBoxFor(m => m.YJDZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YJDZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PJSJ) </td> <!--评价时间-->
                <td>
                    @Html.TextBoxFor(m => m.PJSJ, new { @class = "easyui-datetimebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PJSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PJNR) </td> <!--评价内容-->
                <td>
                    @Html.TextBoxFor(m => m.PJNR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PJNR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.PJZT) </td> <!--评价状态-->
                <td>
                    @Html.TextBoxFor(m => m.PJZT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.PJZT)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SHR) </td> <!--审核人-->
                <td>
                    @Html.TextBoxFor(m => m.SHR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SHR)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.HF) </td> <!--回复-->
                <td>
                    @Html.TextBoxFor(m => m.HF, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.HF)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/wzpj/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
