@model HanRuEdu.LDAL.EDU_ZZJX_07_03_XSXWSXQK
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="编辑" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">编辑</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校名-->
                <td>
                    @Html.TextBoxFor(m => m.SCHOOLID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--实习情况表ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--学生信息ID-->
                <td>
                    @Html.TextBoxFor(m => m.XSXXID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QYID) </td> <!--企业表ID-->
                <td>
                    @Html.TextBoxFor(m => m.QYID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QYID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.GWID) </td> <!--岗位表ID-->
                <td>
                    @Html.TextBoxFor(m => m.GWID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.GWID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXQSRQ) </td> <!--受训起始日期-->
                <td>
                    @Html.TextBoxFor(m => m.SXQSRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXQSRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXJSRQ) </td> <!--受训结束日期-->
                <td>
                    @Html.TextBoxFor(m => m.SXJSRQ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXJSRQ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.QYBH) </td> <!--企业编号-->
                <td>
                    @Html.TextBoxFor(m => m.QYBH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.QYBH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXGWMC) </td> <!--受训岗位名称-->
                <td>
                    @Html.TextBoxFor(m => m.SXGWMC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXGWMC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXDS) </td> <!--实训导师-->
                <td>
                    @Html.TextBoxFor(m => m.SXDS, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXDS)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFGMSXZRBX) </td> <!--是否购买实习责任保险-->
                <td>
                    @Html.TextBoxFor(m => m.SFGMSXZRBX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SFGMSXZRBX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BXFZFZ) </td> <!--保险费支付者-->
                <td>
                    @Html.TextBoxFor(m => m.BXFZFZ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BXFZFZ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SXXC) </td> <!--实习薪酬-->
                <td>
                    @Html.TextBoxFor(m => m.SXXC, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SXXC)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SFSDGSX) </td> <!--是否是顶岗实习-->
                <td>
                    @Html.TextBoxFor(m => m.SFSDGSX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SFSDGSX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSHJXZM) </td> <!--学生户籍性质码-->
                <td>
                    @Html.TextBoxFor(m => m.XSHJXZM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.XSHJXZM)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/xtgl/xsxwsxqk/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
