@model HanRuEdu.LDAL.EDU_ZZJX_02_01_ZZNJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/ZZNJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="NJDM" width="50" sortable="true">@Html.LabelFor(m => m.NJDM)</th><!--年级代码-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="NJMC" width="50" sortable="true">@Html.LabelFor(m => m.NJMC)</th><!--年级名称-->
            <th field="SSNF" width="50" sortable="true">@Html.LabelFor(m => m.SSNF)</th><!--所属年份-->
            <th field="NJZT" width="50" sortable="true">@Html.LabelFor(m => m.NJZT)</th><!--年级状态-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/zznj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/zznj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/zznj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/zznj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/zznj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
