@model HanRuEdu.LDAL.EDU_ZZJX_07_A07_SXZG
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--实习转岗ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.XSXXID) </td> <!--申请学生ID-->
                <td>
                    @Html.DropDownListFor(m => m.XSXXID, ViewBag.ZZXS_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.XSXXID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZCGW) </td> <!--转出岗位ID-->
                <td>
                    @Html.DropDownListFor(m => m.ZCGW, ViewBag.ZZJX_07Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZCGW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZCGWQY) </td> <!--转出岗位企业ID-->
                <td>
                    @Html.DropDownListFor(m => m.ZCGWQY, ViewBag.ZZJX_07Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZCGWQY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZRGW) </td> <!--转入岗位ID-->
                <td>
                    @Html.DropDownListFor(m => m.ZRGW, ViewBag.ZZJX_07Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZRGW)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZRGWQY) </td> <!--转入岗位企业ID-->
                <td>
                    @Html.DropDownListFor(m => m.ZRGWQY, ViewBag.ZZJX_07Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.ZRGWQY)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.BZRSH) </td> <!--班主任审核-->
                <td>
                    @Html.TextBoxFor(m => m.BZRSH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.BZRSH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZCQYSH) </td> <!--转出企业审核-->
                <td>
                    @Html.TextBoxFor(m => m.ZCQYSH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZCQYSH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ZRQYSH) </td> <!--转入企业审核-->
                <td>
                    @Html.TextBoxFor(m => m.ZRQYSH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ZRQYSH)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.JYCSH) </td> <!--就业处审核-->
                <td>
                    @Html.TextBoxFor(m => m.JYCSH, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.JYCSH)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/sxzg/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
