@model HanRuEdu.LDAL.EDU_ZZJX_02_02_ZZBJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'/xtgl/ZZBJ/index_jsonstr',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="XZBDM" width="50" sortable="true">@Html.LabelFor(m => m.XZBDM)</th><!--行政班代码-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校名-->
            <th field="ZYXXID" width="50" sortable="true">@Html.LabelFor(m => m.ZYXXID)</th><!--专业基本信息-->
            <th field="ZZNJID" width="50" sortable="true">@Html.LabelFor(m => m.ZZNJID)</th><!--学校年级数据表-->
            <th field="XZBMC" width="50" sortable="true">@Html.LabelFor(m => m.XZBMC)</th><!--行政班名称-->
            <th field="JBNY" width="50" sortable="true">@Html.LabelFor(m => m.JBNY)</th><!--建班年月-->
            <th field="BZRGH" width="50" sortable="true">@Html.LabelFor(m => m.BZRGH)</th><!--班主任工号-->
            <th field="JSBH" width="50" sortable="true">@Html.LabelFor(m => m.JSBH)</th><!--教室编号-->
            <th field="NANSRS" width="50" sortable="true">@Html.LabelFor(m => m.NANSRS)</th><!--男生人数-->
            <th field="NVSRS" width="50" sortable="true">@Html.LabelFor(m => m.NVSRS)</th><!--女生人数-->
            <th field="ZRS" width="50" sortable="true">@Html.LabelFor(m => m.ZRS)</th><!--总人数-->
            <th field="BZXH" width="50" sortable="true">@Html.LabelFor(m => m.BZXH)</th><!--班长学号-->
            <th field="JXJH" width="50" sortable="true">@Html.LabelFor(m => m.JXJH)</th><!--教学计划-->
            <th field="JGH" width="50" sortable="true">@Html.LabelFor(m => m.JGH)</th><!--机构号-->
            <th field="XQDM" width="50" sortable="true">@Html.LabelFor(m => m.XQDM)</th><!--校区代码-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/zzjx/zzbj/create");
    ViewData["index_edit"] = Url.Content("~/zzjx/zzbj/edit");
    //ViewData["index_detail"] = Url.Content("~/zzjx/zzbj/details";)
    //ViewData["index_del"] = Url.Content("~/zzjx/zzbj/delete";)
    ViewData["index_multi_del"] = Url.Content("~/zzjx/zzbj/delete";)
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
