@model HanRuEdu.LDAL.EDU_ZZJX_03_03_JXJHKCQD
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/xtgl/JXJHKCQD/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="KCH" width="50" sortable="true">@Html.LabelFor(m => m.KCH)</th><!--课程号-->
            <th field="JHBH" width="50" sortable="true">@Html.LabelFor(m => m.JHBH)</th><!--计划编号-->
            <th field="XQID" width="50" sortable="true">@Html.LabelFor(m => m.XQID)</th><!--学期ID-->
            <th field="KCMC" width="50" sortable="true">@Html.LabelFor(m => m.KCMC)</th><!--课程名称-->
            <th field="YXKC" width="50" sortable="true">@Html.LabelFor(m => m.YXKC)</th><!--预修课程-->
            <th field="SFHXKC" width="50" sortable="true">@Html.LabelFor(m => m.SFHXKC)</th><!--是否核心（骨干）-->
            <th field="KCFLM" width="50" sortable="true">@Html.LabelFor(m => m.KCFLM)</th><!--课程分类码-->
            <th field="KCSXM" width="50" sortable="true">@Html.LabelFor(m => m.KCSXM)</th><!--课程属性码-->
            <th field="ZXXQ" width="50" sortable="true">@Html.LabelFor(m => m.ZXXQ)</th><!--执行学期-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/xtgl/jxjhkcqd/create");
    ViewData["index_edit"] = Url.Content("~/xtgl/jxjhkcqd/edit");
    //ViewData["index_detail"] = Url.Content("~/xtgl/jxjhkcqd/details");
    //ViewData["index_del"] = Url.Content("~/xtgl/jxjhkcqd/delete");
    ViewData["index_multi_del"] = Url.Content("~/xtgl/jxjhkcqd/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
