@model HanRuEdu.LDAL.EDU_ZZFC_08_A02_YHZSJL
@using (Html.BeginForm())
{
    @Html.Partial("SingleZTree")
    <div id="dlg" class="easyui-panel" title="添加" style="width: 900px; height: 500px; padding: 10px 20px">
        <center>  <h1 ><span style="font-size:smaller;">添加</span></h1></center>

        <table class="admintable">
            <tr>
                <td width="50%"></td>
                <td width="50%"></td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SCHOOLID) </td> <!--学校ID-->
                <td>
                    @Html.DropDownListFor(m => m.SCHOOLID, ViewBag.ELE_01Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SCHOOLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.ID) </td> <!--住宿记录ID-->
                <td>
                    @Html.TextBoxFor(m => m.ID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.ID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YHID) </td> <!--用户ID-->
                <td>
                    @Html.TextBoxFor(m => m.YHID, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YHID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SSLID) </td> <!--宿舍楼ID-->
                <td>
                    @Html.DropDownListFor(m => m.SSLID, ViewBag.ZZFC_02Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SSLID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SSID) </td> <!--宿舍ID-->
                <td>
                    @Html.DropDownListFor(m => m.SSID, ViewBag.ZZFC_08Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.SSID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.CWID) </td> <!--床位ID-->
                <td>
                    @Html.DropDownListFor(m => m.CWID, ViewBag.ZZFC_08Lst as SelectList)
                    @Html.ValidationMessageFor(m => m.CWID)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.YHXM) </td> <!--用户姓名-->
                <td>
                    @Html.TextBoxFor(m => m.YHXM, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.YHXM)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RZRLX) </td> <!--入住人类型-->
                <td>
                    @Html.TextBoxFor(m => m.RZRLX, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RZRLX)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.RZSJ) </td> <!--入住时间-->
                <td>
                    @Html.TextBoxFor(m => m.RZSJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.RZSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SHZT) </td> <!--审核状态-->
                <td>
                    @Html.TextBoxFor(m => m.SHZT, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SHZT)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SHSJ) </td> <!--审核时间-->
                <td>
                    @Html.TextBoxFor(m => m.SHSJ, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SHSJ)
                </td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.SHR) </td> <!--审核人-->
                <td>
                    @Html.TextBoxFor(m => m.SHR, new { @class = "easyui-validatebox", style = "width:150px; " })
                    @Html.ValidationMessageFor(m => m.SHR)
                </td>
            </tr>

        </table>
        <br />
        @{ ViewData["ce_cancel"] = Url.Content("~/jpxt/yhzsjl/index");}
        @Html.Partial("~/views/shared/CreateEditToolBarPage.cshtml", this.ViewData)
    </div>
}
