@model HanRuEdu.LDAL.EDU_ZZFC_08_A02_YHZSJL
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/YHZSJL/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--住宿记录ID-->
            <th field="YHID" width="50" sortable="true">@Html.LabelFor(m => m.YHID)</th><!--用户ID-->
            <th field="SSLID" width="50" sortable="true">@Html.LabelFor(m => m.SSLID)</th><!--宿舍楼ID-->
            <th field="SSID" width="50" sortable="true">@Html.LabelFor(m => m.SSID)</th><!--宿舍ID-->
            <th field="CWID" width="50" sortable="true">@Html.LabelFor(m => m.CWID)</th><!--床位ID-->
            <th field="YHXM" width="50" sortable="true">@Html.LabelFor(m => m.YHXM)</th><!--用户姓名-->
            <th field="RZRLX" width="50" sortable="true">@Html.LabelFor(m => m.RZRLX)</th><!--入住人类型-->
            <th field="RZSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.RZSJ)</th><!--入住时间-->
            <th field="SHZT" width="50" sortable="true">@Html.LabelFor(m => m.SHZT)</th><!--审核状态-->
            <th field="SHSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.SHSJ)</th><!--审核时间-->
            <th field="SHR" width="50" sortable="true">@Html.LabelFor(m => m.SHR)</th><!--审核人-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/yhzsjl/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/yhzsjl/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/yhzsjl/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/yhzsjl/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/yhzsjl/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
