@model HanRuEdu.LDAL.EDU_OAXT_11_A01_YJ
<table id="dg" title="  " class="easyui-datagrid" style="width:900px;height:500px"
            data-options="singleSelect:false,collapsible:true,  url:'@Url.Content("~/jpxt/YJ/index_jsonstr")',
            toolbar:'#toolbar', remoteSort:true,pagination:true, rownumbers:true, fitColumns:true,multiSort:true" >
    <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th>-->
            <th field="ID" width="50" sortable="true">@Html.LabelFor(m => m.ID)</th><!--邮件ID-->
            <th field="SCHOOLID" width="50" sortable="true">@Html.LabelFor(m => m.SCHOOLID)</th><!--学校ID-->
            <th field="YYZID" width="50" sortable="true">@Html.LabelFor(m => m.YYZID)</th><!--拥有者ID-->
            <th field="FSRID" width="50" sortable="true">@Html.LabelFor(m => m.FSRID)</th><!--发送人ID-->
            <th field="JSRID" width="50" sortable="true">@Html.LabelFor(m => m.JSRID)</th><!--接收人ID-->
            <th field="FSRMC" width="50" sortable="true">@Html.LabelFor(m => m.FSRMC)</th><!--发送人名称-->
            <th field="JSRMC" width="50" sortable="true">@Html.LabelFor(m => m.JSRMC)</th><!--接收人名称-->
            <th field="JSRIDLB" width="50" sortable="true">@Html.LabelFor(m => m.JSRIDLB)</th><!--接收人ID列表-->
            <th field="JSRMCLB" width="50" sortable="true">@Html.LabelFor(m => m.JSRMCLB)</th><!--接收人名称列表-->
            <th field="BT" width="50" sortable="true">@Html.LabelFor(m => m.BT)</th><!--标题-->
            <th field="NR" width="50" sortable="true">@Html.LabelFor(m => m.NR)</th><!--内容-->
            <th field="FJ" width="50" sortable="true">@Html.LabelFor(m => m.FJ)</th><!--附件-->
            <th field="FSSJ" width="50" formatter="formatDatebox" sortable="true">@Html.LabelFor(m => m.FSSJ)</th><!--发送时间-->
            <th field="SFYD" width="50" sortable="true">@Html.LabelFor(m => m.SFYD)</th><!--是否已阅读-->
            <th field="YJLX" width="50" sortable="true">@Html.LabelFor(m => m.YJLX)</th><!--邮件类型-->
        </tr>
    </thead>
</table>
@{
    ViewData["index_create"] = Url.Content("~/jpxt/yj/create");
    ViewData["index_edit"] = Url.Content("~/jpxt/yj/edit");
    //ViewData["index_detail"] = Url.Content("~/jpxt/yj/details");
    //ViewData["index_del"] = Url.Content("~/jpxt/yj/delete");
    ViewData["index_multi_del"] = Url.Content("~/jpxt/yj/delete");
    ViewData["index_id_name"] = "ID";
    //ViewData["index_outdata"] = Url.Content("~/zsgl/xsdj/OutExcel");
    //ViewData["index_indata"] = Url.Content("~/zsgl/xsdj/ImportData");
}
@Html.Partial("~/views/shared/indexToolBarPage.cshtml", this.ViewData)
